<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zoomla！逐浪CMS-只为高性能网站构建的专业内核管理系统|功能强大的网站内核管理系统-.net自由之门...</title>
<link href="login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="outer">
<div id="middle">
<div id="inner" class="greenBorder">
<div id="left">
<div class="sql_logo"><img src="logo-header-sql08-dg.gif" /></div>
<div class="txt">MSSQL高端计算专区</div>
<div class="txt2"><a href="/index.html" title="个人、企业与商业门户推荐由此进入">个人、企业与商业门户推荐由此进入>></a></div>
</div>

<div id="right">
<div class="sql_logo"><img src="oracle_logo.jpg" /></div>
<div class="txt" style="color:#FFFFFF">Oracle政府军工级大型与特殊应用专区</div>
<div class="txt2"><a href="/vip/" title="军工、政府及特殊应用订制推荐由此进入">军工、政府及特殊应用订制推荐由此进入>></a></div>
</div>


</div>
<div id="corpright">
<div id="logo"><a href="/"><img src="http://zoomla.cn/skin/default/logo.jpg" /></a></div>

&copy; Corpright 2003-<script LANGUAGE="JavaScript"> <!-- var year="";mydate=new Date();myyear=mydate.getYear();year=(myyear > 200) ? myyear : 1900 + myyear;document.write(year); --> </script>all rights reserved 逐浪软件zoomla.cn版权所有|空间服务商：<a href="http://www.hx008.cn" target="_blank">华夏互联hx008.cn</a><br />
<a href="/corp/">关于逐浪</a>　<a href="/corp/meida">媒体报道</a>　<a href="/corp/music">企业歌曲</a>　计算机软件着作权登记号：软着登字第105920号&nbsp;24小时免费技术服务热线：0791-8303707&nbsp;13177777714</div>



</div>
</div>



</body>
</html>