@charset "utf-8";
/* Powered by Zoomla!逐浪CMS www.zoomla.cn */
@media only screen and (max-width:719px)  {  
body { font-size: 14px; overflow-x: hidden; -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/ }
/* Content Title ---*/
h1.componentheading, .componentheading { font-size: 150%; }
.login h1 .reset h1, .remind h1, .profile h1, .profile-edit h1 { font-size: 150%; }
/* Item Title ---*/
.item-page > h2, .item .header h2, .itemView h2.itemTitle { font-size: 150%; }
/* MASONRY PRESETS (Basegrid : 60px)
--------------------------------------------------------- */
/* Default (Medium) ----*/
.item { width: 50%; /* 2 cols */ }
.grid-double { width: 100%; }
.grid-triple { width: 100%; }
/* Small ---*/
body.basegrid-s .item { width: 50%; /* 2 cols */ }
body.basegrid-s .grid-double { width: 100%; }
body.basegrid-s .grid-triple { width: 100%; }
/* Large ---*/
body.basegrid-l .item, body.basegrid-l .grid-double, body.basegrid-l .grid-triple { width: 100%;  /* 1 col */ }
/* X-Large ---*/
body.basegrid-xl .item, body.basegrid-xl .grid-double, body.basegrid-xl .grid-triple { width: 100%; /* 1 col */ }
/* Auto Inner Grids ---*/
.cols-1 .col { width: 100%; }
.cols-2 .col, .cols-3 .col, .cols-4 .col, .cols-5 .col { width: 50%; /* Max 2 cols */ }
/* CORE 
--------------------------------------------------------- */
/* Links ---*/
a { transition: none; -o-transition: none; -moz-transition: none; -webkit-transition: none; }
/* FORM
--------------------------------------------------------- */
.admintable textarea, .admintable input[type=text], .admintable input[type=password], .admintable input[type=email], .admintable .inputbox { max-width: 99%; }
.admintable #description_tbl, .admintable #url { max-width: 250px !important; }
/* ITEM
--------------------------------------------------------- */
.item .item-inner { transition: none; -o-transition: none; -moz-transition: none; -webkit-transition: none; }
.item:hover .item-inner { box-shadow: none; }
/* BODY LAYOUT
--------------------------------------------------------- */
#container .main { padding-top: 100px; }
/* Content ---*/
#content { width: 100% !important; float: none; }
#content .content-inner { padding: 15px 10px; }
/* Aside ---*/
#aside { width: 100%; float: none; margin-top: 10px; }
#aside .aside-inner { padding: 0; }
/* Aside Module */
#aside .moduletable-inner { margin: 0 10px 10px; }
/* Sidebar ---*/
body.has-sidebar #container .container-main { padding-left: 0;  /* Minus space for sidebar */ }
#sidebar { position: absolute; /* Enable full page scrolling */ margin-left: 0; top: 0; left: 0; width: 45px; height: 45px !important; }
#sidebar.active { width: 45px; }
#sidebar .sidebar-inner { width: 200px; left: -999em; border-radius: 0 0 3px 0; position: relative; }
#sidebar .sidebar-inner-scrollblock { }
#sidebar .sidebar-toggle { border-right: 1px solid #84b12a; }
/* Sidebar Toggle Ation */
#sidebar.active .sidebar-inner { left: auto; }
/* Sidebar Nav */
#sidebar .menu li a { max-width: 160px; }
#sidebar .menu ul li a { max-width: 120px; }
/* Sidebar Categories --- */
#sidebar .categories-module li a { max-width: 160px; }
#sidebar .categories-module ul li a { max-width: 120px; }
/* Sidebar Module */
#sidebar .moduletable:first-child { padding-top: 10px; }
#sidebar .moduletable:last-child { padding-bottom: 20px; }
#sidebar .moduletable-inner { }
/* HEADER
--------------------------------------------------------- */
#header { height: 90px; position: absolute; /* Enable full page scrolling */ }
#header .main { height: 90px; }
/* Logo Text ---*/
#logo { width: 100%; top: 0; z-index: 998; }
#logo h1 { margin-left: 0; text-align: center; width: 100%; }
#logo h1 a { margin: 0 auto; }
/* Head Search ---*/
#header #search { margin: 0; top: -45px; width: 45px; height: 45px; background: transparent; }
#header #search { padding: 0px; }
#header #search .search-inner { width: 200px; border-radius: 0 0 0 3px; left: -999em; position: relative; /* "absolute" position will create right edge gap on mobile, tablet */ margin-top: 0; box-shadow: -1px 2px 2px rgba(0,0,0,.4); }
#header #search .search-toggle { border-left: 1px solid #84b12a; width: 44px; }
#header #search .search { border: none; }
#header #search .inputbox, #header #search .inputbox:focus { width: 180px; background-image: none; padding: 5px; border: 1px solid #ccc; }
#header #search .button { display: none; }
/* Search Toggle Ation */
#header #search.active .search-inner { left: auto; right: 155px; /* Right = InnerWidth - ToggleWidth*/ }
/* MAIN NAV
--------------------------------------------------------- */
#mainnav { left: 0; top: 45px; /* Space for logo */ width: 100%; }
#mainnav .menu { }
#mainnav .menu-inner { width: 100%; }
/* 2nd level and above ---*/
#mainnav .menu > li.deeper ul { max-width: none; min-width: none; width: 100%; left: -999em; }
#mainnav .menu > li.deeper.hover ul, #mainnav .menu > li.deeper:hover ul { left: 0; right: 0; top: auto; }
#mainnav .menu > li.deeper ul li a { max-width: none; }
/* arrow more ---*/
#mainnav .navprev { left: 0; }
.no-toolbar #mainnav .navnext, #mainnav .navnext { right: 0; }
/* menu-inner ---*/
ul.jsub { max-width: none; min-width: 100%; width: 100%; left: 0; }
/* DISPLAY TOOLBAR
--------------------------------------------------------- */
#toolbar { margin: 0; top: -45px; width: 45px; height: 45px; background: transparent; }
#toolbar.active { }
#toolbar .toolbar-inner { width: auto; min-width: 200px; border-radius: 0 0 3px 3px; left: -999em; position: absolute; margin-top: 0; }
#toolbar .toolbar-toggle { border-left: 1px solid #84b12a; width: 44px; }
/* Toolbar Toggle Ation */
#toolbar.active .toolbar-inner { left: auto; right: 0; }
/* Hiding Unsupported Buttons */
#toolbar dd#toolbar-basegrid-s, #toolbar dd#toolbar-basegrid-xl { display: none; }
/* K2 FOR MOBILE.
--------------------------------------------------------- */
div.itemListBlogView div.catItemView { padding-left: 0; }
div.itemListBlogView div.itemDateComments { margin-bottom: 5px; overflow: hidden; }
#k2Container .itemDate { background: none; border-right: 1px solid #DDD; float: left; position: relative; padding: 0 5px 0 0; left: auto; top: auto; }
#k2Container .itemDate .date { color: #999; font-size: 100%; font-weight: normal; }
#k2Container .itemDate .month-year { display: inline-block; float: none; line-height: 1; }
#k2Container .itemDate .month, #k2Container .itemDate .year { display: inline; padding: 0; text-align: left; }
.itemListBlogView .catItemCommentsLink { position: relative; left: auto; top: auto; margin-top: 0; padding: 0 0 0 5px; line-height: 1; }
.itemListBlogView .catItemCommentsLink a { letter-spacing: 0; }
div.itemListBlogView .article-info { border-bottom: 1px dashed #DDD; padding-bottom: 5px; }
div.itemCommentsForm form textarea.inputbox, div.itemCommentsForm form input.inputbox { resize: none; width: 90% !important; }
div.catItemIntroText img { width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
/* MISC.
--------------------------------------------------------- */
/* Toggle ----*/
/* Toggle button */
.btn-toggle { background: transparent; }
/* Show toggle on Mobile */
.sidebar-toggle, .toolbar-toggle, .search-toggle { display: block; }
/* iFrame */
div.content .youtube-player, div.vimeo-item iframe { width: 100% !important; }
/* Loading Notifications --- */
#infscr-loading { background: #000; border-radius: 0; bottom: 0; color: #FFF; left: 0; padding: 10px 0; width: 100%; }
#infscr-loading em { font-style: normal; }
.k2AccountPage .wcgroup .wcontrols input[type="text"], .k2AccountPage .wcgroup .wcontrols input[type="password"], .k2AccountPage .wcgroup .wcontrols input[type="email"] { width: 80% !important; }
/*
Facebook hidden iphone */
.FB_UI_Hidden { position: absolute; left: -10000px; top: -10000px; }

  }
  
   
  @media only screen and (max-width:479px)  {  
  .item { width: 100%; /* 1 col */ }
.grid-double { width: 100%; }
.grid-triple { width: 100%; }
/* Small ---*/
body.basegrid-s .item { width: 100%; /* 1 col */ }
body.basegrid-s .grid-double { width: 100%; }
body.basegrid-s .grid-triple { width: 100%; }
/* Large ---*/
body.basegrid-l .item, body.basegrid-l .grid-double, body.basegrid-l .grid-triple { width: 100%;  /* 1 col */ }
/* X-Large ---*/
body.basegrid-xl .item, body.basegrid-xl .grid-double, body.basegrid-xl .grid-triple { width: 100%; /* 1 col */ }
/* Auto Inner Grids ---*/
.cols-1 .col, .cols-2 .col, .cols-3 .col, .cols-4 .col, .cols-5 .col { width: 100%; /* Max 1 col */ }
/* DISPLAY TOOLBAR
--------------------------------------------------------- */
#toolbar .toolbar-inner { width: auto; min-width: 135px; }
/* Hiding Unsupported Buttons */
#toolbar #toolbar-basegrid { display: none; }
/* K2 STYLE
--------------------------------------------------------- */
.k2AccountPage input.inputbox, .k2AccountPage input#url, .k2AccountPage textarea { width: 95% !important; }
#k2Container .itemIntroText img, #k2Container .itemFullText img { width: 100%; }
.search .word button { margin-top: 10px; }
/* REGISTRATION FORM
--------------------------------------------------------- */
.wform .wlabel { float: none; width: auto; padding-top: 0; text-align: left; }
.wform .wcontrols { margin-left: 0; }
.wform .wcgroup_detail { display: block; float: none; margin-right: 0px; text-align: left; width: 100% !important; }

   }
  
  
  
   
@media only screen and (min-width:720px) and (max-width: 985px)  {  
body { font-size: 14px; overflow-x: hidden; -webkit-text-size-adjust: 100%; /*Fix Mobile Safari Font Scale*/ }
.item { width: 33.3%; /* 3 cols */ }
.grid-double { width: 66.6%; }
.grid-triple { width: 100%; }
/* Small ---*/
body.basegrid-s .item { width: 25%; /* 4 cols */ }
body.basegrid-s .grid-double { width: 50%; }
body.basegrid-s .grid-triple { width: 75%; }
/* Large ---*/
body.basegrid-l .item { width: 50%; /* 2 cols */ }
body.basegrid-l .grid-double, body.basegrid-l .grid-triple { width: 100%; /* No triple grid on Large */ }
/* X-Large ---*/
body.basegrid-xl .item { width: 50%; /* 2 cols */ }
body.basegrid-xl .grid-double, body.basegrid-xl .grid-triple { width: 100%; /* No triple grid on X-Large */ }
/* Auto Inner Grids ---*/
.cols-1 .col { width: 100%; }
.cols-2 .col { width: 50%; }
.cols-3 .col, .cols-4 .col, .cols-5 .col { width: 33.3%; /* Max 3 cols */ }
/* CORE 
--------------------------------------------------------- */
/* Links ---*/
a { transition: none; -o-transition: none; -moz-transition: none; -webkit-transition: none; }
/* ITEM
--------------------------------------------------------- */
.item .item-inner { transition: none; -o-transition: none; -moz-transition: none; -webkit-transition: none; }
.item:hover .item-inner { box-shadow: none; }
/* BODY LAYOUT
--------------------------------------------------------- */
#container .main { }
/* Content ---*/
#content { float: none; width: 100% !important; }
/* Aside ---*/
#aside { width: 100%; float: none; }
#aside .aside-inner { padding-top: 0; }
/* Aside Module */
#aside .moduletable-inner { margin: 0 10px 10px; }
/* Sidebar ---*/
body.has-sidebar #container .container-main { padding-left: 0; /* Minus space for sidebar */ }
#sidebar { left: 0; margin-left: 0; position: fixed; top: 0; width: 45px; }
#sidebar.active { width: 45px; }
#sidebar .sidebar-inner { border-radius: 0 0 3px 0; left: -999em; width: 200px; }
#sidebar .sidebar-inner-scrollblock { }
/* Sidebar Toggle Ation */
#sidebar.active .sidebar-inner { left: auto; }
/* Sidebar Nav */
#sidebar .menu li a { max-width: 160px; }
#sidebar .menu ul li a { max-width: 120px; }
/* Sidebar Categories --- */
#sidebar .categories-module li a { max-width: 160px; }
#sidebar .categories-module ul li a { max-width: 120px; }
/* Sidebar Module */
#sidebar .moduletable:first-child { padding-top: 10px; }
#sidebar .moduletable-inner { }
/* HEADER
--------------------------------------------------------- */
#header .main { }
body.display-video #header { position: absolute; }
/* Logo Text ---*/
#logo { margin-left: 45px; /* Space for sidebar toggle*/ }
/* Head Search ---*/
#header #search { float: right; margin: 0; top: 0; width: 45px; padding: 0px; }
#header #search.active { }
#header #search .search-inner { width: 200px; border-radius: 0 0 0 3px; left: -999em; position: relative; /* "absolute" position will create right edge gap on mobile, tablet */ margin-top: 0; box-shadow: -1px 2px 2px rgba(0,0,0,.4); }
#header #search .search-toggle { border-left: 1px solid #4b4b4b; width: 44px; }
#header #search .search { border: none; }
#header #search .inputbox, #header #search .inputbox:focus { background-image: none; border: 1px solid #ccc; padding: 5px; width: 180px; }
#header #search .button { display: none; }
/* Search Toggle Ation */
#header #search.active .search-inner { left: auto; right: 155px; /* Right = InnerWidth - ToggleWidth*/ }
/* MAIN NAV
--------------------------------------------------------- */
#mainnav { left: 0; padding-left: 165px; /* Sapce for sidebar and logo */ top: 0; width: 100%; height: 45px; }
#mainnav .menu-inner { left: 165px; right: 255px; }
/* arrow more ---*/
#mainnav .navprev { left: 165px; }
#mainnav .navnext { right: 255px; }
.no-toolbar #mainnav .menu-inner, .no-toolbar #mainnav .navnext { right: 210px; }
/* DISPLAY TOOLBAR
--------------------------------------------------------- */
#toolbar { float: right; margin: 0; top: 0; width: 45px; }
#toolbar.active { }
#toolbar .toolbar-inner { border-radius: 0 0 3px 3px; position: relative; left: -999em; width: 220px; margin-top: 0; }
#toolbar .toolbar-toggle { border-left: 1px solid #4b4b4b; width: 44px; }
/* Toolbar Toggle Ation */
#toolbar.active .toolbar-inner { left: auto; right: 175px; /* Right = InnerWidth - ToggleWidth*/ }
/* Hiding Unsupported Buttons */
#toolbar dd#toolbar-basegrid-xl { display: none; }
/* MISC.
--------------------------------------------------------- */
/* Show toggle on Tablet */
#sidebar .sidebar-toggle, #toolbar .toolbar-toggle, #search .search-toggle { display: block; }

  
  } 
  
  
  
  
  
    
  @media only screen and (min-width:986px) and (max-width: 1235px){  
  body.has-aside #content { width: 70%; }
/* Aside ---*/
#aside { width: 30%; }
#aside .col { width: 100%; /* Only 1 column on aside */ } 

  
  }
  
    
  @media only screen and (min-width:1236px) and (max-width: 1585px) { 
  
  .item { width: 20%; /* 5 cols */ }
.grid-double { width: 40%; }
.grid-triple { width: 60%; }
/* Small ---*/
body.basegrid-s .item { width: 16.6%; /* 6 cols */ }
body.basegrid-s .grid-double { width: 33.2%; }
body.basegrid-s .grid-triple { width: 49.8%; }
/* Small ---*/
body.basegrid-l .item { width: 25%; /* 4 cols */ }
body.basegrid-l .grid-double { width: 50%; }
body.basegrid-l .grid-triple { width: 75%; }
/* X-Large ---*/
body.basegrid-xl .item { width: 33.3%; /* 3 cols */ }
body.basegrid-xl .grid-double { width: 66.6%; }
body.basegrid-xl .grid-triple { width: 100%; }
/* MAIN CONTAINER
--------------------------------------------------------- */
/* Aside ---*/
#aside .cols-3 .col, #aside .cols-3 .col, #aside .cols-3 .col { width: 50%; /* max 2 columns */ }
   }
  
  
 @media  only screen and (min-width:1586px) and (max-width: 1890px){
	 .item { width: 16.6%; /* 6 cols */ }
.grid-double { width: 33.2%; }
.grid-triple { width: 49.8%; }
/* Small ---*/
body.basegrid-s .item { width: 14.2%; /* 7 cols */ }
body.basegrid-s .grid-double { width: 28.4%; }
body.basegrid-s .grid-triple { width: 42.6%; }

/* Large ---*/
body.basegrid-l .item { width: 20%; /* 5 cols */ }
body.basegrid-l .grid-double { width: 40%; }
body.basegrid-l .grid-triple { width: 60%; }
/* X-Large ---*/
body.basegrid-xl .item { width: 25%; /* 4 cols  */ }
body.basegrid-xl .grid-double { width: 50%; }
body.basegrid-xl .grid-triple { width: 75%; }
/* MAIN CONTAINER
--------------------------------------------------------- */
/* Content ---*/
body.has-aside #content { width: 50%; }
/* Aside ---*/
#aside { width: 50%; }

	 
	 
	 }
 
 @media  only screen and (min-width:1891px){

.item { width: 14.2%; /* 7 cols */ }
.grid-double { width: 28.4%; }
.grid-triple { width: 42.6%; }
/* Small ---*/
body.basegrid-s .item { width: 12.5%; /* 8 cols */ }
body.basegrid-s .grid-double { width: 25%; }
body.basegrid-s .grid-triple { width: 37.5%; }
/* Large ---*/
body.basegrid-l .item { width: 16.6%; /* 6 cols */ }
body.basegrid-l .grid-double { width: 33.3%; }
body.basegrid-l .grid-triple { width: 49.8%; }
/* X-Large ---*/
body.basegrid-xl .item { width: 20%; /* 5 cols */ }
body.basegrid-xl .grid-double { width: 40%; }
body.basegrid-xl .grid-triple { width: 60%; }
/* MAIN CONTAINER
--------------------------------------------------------- */
/* Content ---*/
body.has-aside #content { width: 50%; }
/* Aside ---*/
#aside { width: 50%; } 

	 }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
 
 
  /*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuWm9vbWxhLmNu */
