{ZL.Source id="视频模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="视频模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="视频模型数据源标签" FD="Tagkey" page="0"/}">
<meta name="Description" content="{SField sid="视频模型数据源标签" FD="Title" page="0"/}">
<link href="/skin/2010/css/global.css?version=V201312" rel="stylesheet" type="text/css" />
<link href="/template/office/style/2012.css?version=V201312" rel="stylesheet" type="text/css" />
<script src="https://code.z01.com/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/pub.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/template/office/style/js/prototype.js"></script>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<!--[if IE]>
   <script src="/js/html5.js">
   </script>
<![endif]-->
</head>
<body>
<div id="header_x">
<script type="text/javascript" src="/AD/201205/14.js"></script>
<h1><a href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a></h1>
</div>
<p>
<a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序">最新版本号：<script type="text/javascript" src="/AD/201003/8.js"></script>[免费下载]</a>
<iframe src="/Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="186px" height="24px"></iframe>
</p>
</div>
</div>
</div>
<!--header_x end -->

<div class="naver">
<div id="nav_x">
<div id="menus">
<div id="menuNav">
<ul>
<strong>开启WEB云计算内核之门：</strong>
<li class="on"><a href="/" target="_blank">网站首页</a></li>
<li><a href="/product/" target="_blank">走进逐浪</a></li>
<li><a href="/shop/" target="_blank">产品中心</a></li>
<li class="scuess"><img src="/template/office/style/images/hot.gif" class="hot"><a href="/case/" target="_blank">成功案例</a></li>
<li><a href="/Project/" target="_blank">解决方案</a></li>
<li><a href="http://v.z01.com/mb/" target="_blank">模板中心</a></li>
<li><a href="/pub/" target="_blank">下载产品</a></li>
<li><a href="/demo/" target="_blank">体验中心</a></li>
<li><a href="http://club.z01.com/" target="_blank">技术社区</a></li>
</ul>
</div>
{ZL.Label id="可收缩便捷导航"/}

</div>
</div>
<!--nav_x end -->
</div>

<div id="banner2014" style=""><img src="/Template/office/style/images/2013banner.jpg" alt="逐浪软件" /></div>

<div id="main">
<div id="Content">
<div id="site"><a href="/">当前位置：首页</a> / {ZL.Label id="三级智能节点导航" NodeID="{SField sid="视频模型数据源标签" FD="NodeID" page="0"/}" /}</div>
<h1>{SField sid="视频模型数据源标签" FD="Title" page="0"/}</h1>
<div id="Content_Info">
<p>发布时间：{ZL:FormatDate({SField sid="视频模型数据源标签" FD="UpDateTime" page="0"/},yyyy-MM-dd)/}  点击数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid=""视频模型数据源标签" FD="GeneralID"/}"></SCRIPT></p>  
<!-- BaiduShare Button BEGIN -->
<div class="bdsharebuttonbox"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a class="bds_more" href="#" data-cmd="more"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='https://dn-iyz-file.qbox.me/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- BaiduShare Button end -->
</div>
<div id="Content_txt">
<div id="player5" style=" float:left;width:620px; margin:0px; border:solid 1px #4e9ce0;margin-left:45px; padding-top:5px;" ></div>
<script type="text/javascript" src="/skin/2010/js/swfobject.js"></script>
<script type="text/javascript"> 
	var s5 = new SWFObject("/skin/2010/swf/FlvPlayer.swf","playlist","620","520","7");
	s5.addParam("allowfullscreen","true");
	s5.addVariable("autostart","false");
	s5.addVariable("image","{ZL:GetPicUrl({SField sid="视频模型数据源标签" FD="pic" page="0"/})/}");
	s5.addVariable("file","{SField sid="视频模型数据源标签" FD="url" page="0"/}");
	s5.addVariable("width","620");
	s5.addVariable("height","520");
	s5.write("player5");
</script>

<div class="clear"></div>
<br/>


{SField sid="视频模型数据源标签" FD="content" page="0"/}
<div class="clear"></div>
</div>
<div>
<script>
function showimg(txt)
{
if(txt!="")
{
document.write("<img src='{$UploadDir/}"+txt+"' />");
}
}
</script>

<script>
showimg('{SField sid="视频模型数据源标签" FD="Defaultpic"/}');
showimg('');
</script>

</div>
<div id="T_page">{ZL.Page id="2009版内容分页" num="{SField sid="视频模型数据源标签" FD="F_page" page="0"/}"/}</div>
<div id="edit"><img src="/skin/default/Comment.gif" />  本文责任编辑：{ZL.Label id="编辑_信息中心通用"/} &nbsp;<a href="/user/content/addtofav.aspx?infoid={SField sid="视频模型数据源标签" FD="GENERALID"/}" target="_blank">加入会员收藏夹</a>&nbsp;<a href="/Comments/CommentFor.aspx?ID={SField sid="视频模型数据源标签" FD="GeneralID" page="0"/}" target="_blank">点此参与评论</a>>></div>
<div class="artInfo"><a href="/Content.aspx?ItemID=83" target="_blank"><img src="/skin/default/post.gif" />对[<span style="color:red">{SField sid="视频模型数据源标签" FD="Title" page="0"/}</span>]这条信息感兴趣吗？您还可以点击联系我们以确定进一步意向。</a></div>
<div class="artInfo">{ZL.Label id="2012点击复制网址代码"/}</div>
<div class="Contnet_old">上一篇文章：{ZL.Label id="上一篇文章" NodeID="{SField sid="视频模型数据源标签" FD="NodeID" page="0"/}" /}下一篇文章：{ZL.Label id="下一篇文章" NodeID="{SField sid="视频模型数据源标签" FD="NodeID" page="0"/}" /}</div>
</div>
<!--中右结束 -->

{ZL.Label id="2013年底新右侧导航"/}
</div>
<!--中部主体结束 -->


{ZL.Label id="响应式网站底部"/}

{ZL.Label id="2012浮动客服代码"/}
</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/jquery.bi.js"></script> 
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script> 