{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<script src="/js/scrolltopcontrol.js"></script>
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" type="text/css" />
<style>
.helpCent_foot { margin-top:0;}
.MYbottom { display:none;}
</style>
</head>
<body class="case_body">
<nav class="navbar navbar-default navbar-fixed-top case_nav" id="case_nav">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$CssDir/}/images/logo_w.svg" alt="{$SiteName/}" /></a>
<h1><a href="/case/">案例中心</a></h1>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/">首页</a></li>
<li><a href="/product/">纵览</a></li>
<li><a href="/shop/">产品</a></li>
<li><a href="/case/">案例</a></li>
<li><a href="/Project/">方案</a></li>
<li><a href="http://v.z01.com/mb/" target="_blank">模板</a></li>
<li><a href="/demo/">体验</a></li>
<li><a href="http://bbs.z01.com/" target="_blank">技术</a></li>
<li><a href="http://v.z01.com/H5/" target="_blank">H5</a></li>
<li><a href="http://v.z01.com/jz/" target="_blank">微建站</a></li>
<li><a href="/pub/" target="_blank">下载逐浪CMS</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!--导航结束-->
<div class="case_cbanner" style="background-image:url({ZL:GetPicUrl({SField sid="文章模型数据源标签" FD="Defaultpic" page="0"/})/});">
<div class="case_cbanner_c">{SField sid="文章模型数据源标签" FD="Title" page="0"/}</div>

<div class="case_content_topnav">
<div class="container ">
<div class="row">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 case_content_topnavCon">
<h2>{SField sid="文章模型数据源标签" FD="Subtitle" page="0"/}</h2>
<hr>
<ol class="breadcrumb">
  <li><a href="/">逐浪官网</a></li>
  <li><a href="/case/">案例中心</a></li>
  <li class="active">{ZL.Label id="根据ID输出节点名称与链接" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}</li>
</ol>
</div>
</div>
</div>
</div><!--介绍方块end-->
</div>

<div class="container case_cont">
<div class="row">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<div class="case_cleft">
<div class="case_cleft_j">
<div class="case_cleft_jt">版本展示</div>
<ul>
<li><a href="/Shop/3.aspx" title="Zoomla&reg;!逐浪CMS个人版" target="_blank">逐浪CMS个人版</a></li>
<li><a href="/Shop/4.aspx" title="Zoomla&reg;!逐浪CMS企业" target="_blank">逐浪CMS企业版</a></li>
<li><a href="/Shop/5.aspx" title="Zoomla&reg;!逐浪CMS教育版" target="_blank">逐浪CMS教育版</a></li>
<li><a href="/Shop/6.aspx" title="Zoomla&reg;!逐浪CMS政府版" target="_blank">逐浪CMS政府版</a></li>
<li><a href="/Shop/10.aspx" title="Zoomla&reg;!逐浪CMS订制版" target="_blank">逐浪CMS订制版</a></li>
<li><a href="/Shop/7.aspx" title="Zoomla&reg;!逐浪CMS开发版" target="_blank">逐浪CMS开发版</a></li>
<li><a href="/Shop/20.aspx" title="逐浪商城与网店系统" target="_blank">商城版(商城网店系统)</a></li>
<li><a href="/pub/1092.shtml" title="逐浪OA办公系统" target="_blank">逐浪OA办公系统</a></li>
<li><a href="/pub/2426.shtml" title="逐浪微信营销系统" target="_blank">逐浪微信营销系统</a></li>
<li><a href="/pub/2455.shtml" title="逐浪渠道营销系统" target="_blank">逐浪渠道营销系统</a></li>
<li><a href="/pub/2454.shtml" title="逐浪在线考试系统" target="_blank">逐浪在线考试系统</a></li>
<li><a href="/pub/1101.shtml" title="逐浪组卷系统" target="_blank">逐浪组卷系统</a></li>
<li><a href="/pub/2453.shtml" title="逐浪政务系统" target="_blank">逐浪政务系统</a></li>
<li><a href="/pub/2452.shtml" title="逐浪物联网系统" target="_blank">逐浪物联网系统</a></li>
<li><a href="/pub/2451.shtml" title="逐浪LED智能控制系统" target="_blank">逐浪LED智能控制系统</a></li>
<li><a href="/pub/2450.shtml" title="逐浪客户关系管理系统" target="_blank">客户关系管理系统</a></li>
<li><a href="/corp/media/2201.shtml" title="逐浪站群管理管理系统" target="_blank">逐浪站群管理管理系统</a></li>
</ul>
</div>
</div>
<div class="case_cleft_j">
<div class="case_cleft_jt">解决方案</div>
<ul>
<li><a href="/Project/">门户站群</a></li>
<li><a href="/Project/">个人网站</a></li>
<li><a href="/Project/">线上商城</a></li>
<li><a href="/Project/">行业门户</a></li>
<li><a href="/Project/">文献网站</a></li>
<li><a href="/Project/">政府网站</a></li>
<li><a href="/Project/">办公平台</a></li>
<li><a href="/Project/"></a></li>
<li><a href="/Project/" target="_blank" title="更多解决方案"><i class="fa fa-ellipsis-h"></i></a></li>
</ul>
</div>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
<div class="case_content">
<div class="case_content_t">
<p hidden>
<span><i class="fa fa-clock-o"></i> 发布时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="UpDateTime" page="0"/},yyyy-MM-dd)/}</span>
<span><i class="fa fa-eye"></i> <SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span>
<span><a href="http://demo.z01.com/Class_100/NodePage.aspx?t={SField sid="文章模型数据源标签" FD="Title" page="0"/}-来自{$SiteName/}&urls={$SiteURL/}/item/{SField sid="更新记录数据源标签" FD="GeneralID" page="0"/}.aspx" target="_blank"><i class="fa fa-share-alt-square"></i> 分享网址</a></span>
</p>
</div>
<div class="case_content_c">
{SField sid="文章模型数据源标签" FD="content" page="0"/}
</div>
</div>
</div>
</div>

</div>
<!--内容主体结束-->


<div class="container case_content_b">
<h3>关于Zoomla!逐浪<sup><i class="fa fa-trademark"></i></sup>CMS：</h3>
<p>
建网站,选逐浪。易上手,功能棒。质量好,服务善。高性能,最划算。<br/>
国内领先的网站内核系统研发厂商-Zoomla!逐浪CMS团队十多年孜孜不倦的专注于WEB研发，提供从网站、门户、OA到全生产力平台软件支持，卓越的移动功能，微信、Web App支持、路由技术、MVC架构以及前卫的x64位架构大数据内核，我们只做具备可二次开发性、鲁棒的软件系统。脚比路更长、全技术无销售的体制，保证了软件品质，并提供了从云计算、域名、知识产权、数据挖掘、数字呈现以及字体字库全生态的服务。
</p>
<hr>
<ul>
<li><a href="/product/FuncList/" target="_blank"><i class="fa fa-building fa-3x"></i><br/>产品功能清单</a></li>
<li><a href="/demo/" target="_blank"><i class="fa fa-send fa-3x"></i><br/>体验中心</a></li>
<li><a href="/yun/" target="_blank"><i class="fa fa-skyatlas fa-3x"></i><br/>逐浪云</a></li>
<li><a href="/updata/" target="_blank"><i class="fa fa-cog fa-3x"></i><br/>更新通报</a></li>
<li><a href="/m/" target="_blank"><i class="fa fa-mobile fa-3x"></i><br/>移动平台</a></li>
<li><a href="http://www.ziti163.com/Class_16/NodePage.aspx" target="_blank"><i class="fa fa-font fa-3x"></i><br/>逐浪字库</a></li>
<li><a href="/corp/video/" target="_blank"><i class="fa fa-tv fa-3x"></i><br/>官方视频</a></li>
<li><a href="/corp/music/" target="_blank"><i class="fa fa-music fa-3x"></i><br/>企业歌曲</a></li>
</ul>
</div>





<div class="case_footer" style="margin-top:1.5em; background:rgba(255,255,255,1.00);">
<div class="container case_footer_t">
<a href="/pub/" target="_blank" class="btn btn-info">免费下载逐浪CMS开发门户与移动应用</a> <a href="/case/listpage.shtml" target="_blank"><i class="fa fa-exclamation-circle"></i></a>
<a href="http://v.z01.com" target="_blank" class="btn btn-link">不想下载？我们还有基于云技术的动力逐浪速建站+|></a>
</div>
</div>

<div class="helpCent_foot case_bottom">
{ZL.Label id="响应式网站底部"/}
</div>
</body>
</html>
<script>
//手机下菜单效果
$(function() {
  $('.case_nav button.navbar-toggle').click(function(){ 
    $('body').toggleClass('out');
    $('nav.case_nav').toggleClass('out');
    if ($('body').hasClass('out')) {
      $(this).focus();
    } else {
      $(this).blur();
    }
  });
});

$(document).click(function(e) {
  if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
    e.preventDefault();
    $('.case_nav button.navbar-toggle').trigger('click');
  }
}).keyup(function(e) {
  if (e.keyCode == 27 && $('body').hasClass('out')) {
    $('.case_nav button.navbar-toggle').trigger('click');
  } 
});
function scroll_news()//滚动updata
{
	$(function () {
		$('#dvmq li').eq(0).fadeOut('slow', function () {
			$(this).clone().appendTo($(this).parent()).fadeIn('slow');
			$(this).remove();
		});
	});
}
setInterval('scroll_news()', 3000);
</script>