{ZL.Source id="更新记录数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="更新记录数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="更新记录数据源标签" FD="Tagkey" page="0"/}">
<meta name="Description" content="{SField sid="更新记录数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="/template/office/style/2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
<script type="text/javascript" src="/js/pub.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
</head>
<body>
{ZL.Label id="响应式网站头部"/}

<div class="updata2015_c_banner">
<div class="container">
<i class="fa fa-cog fa-spin"></i>
<span><strong>精细研发，开放透明</strong>--浏览Zoomla!逐浪CMS官方团队的研发更新记录。</span>
</div>
</div>

<div class="container">
<ol class="breadcrumb">
<ul class="pull-right mysite">
<li class="biz_log"><a href="/biz/" target="_blank">授权验证</a></li>
<li class="wap_log"><a href="/wap/Default.aspx" target="_blank">手机访问</a></li>
<li class="rss_log"><a href="/rss/Default.aspx" target="_blank">RSS聚合</a></li>
<li class="reg_log"><a href="/user/" target="_blank">用户中心</a></li>
<li class="login_log"><A class=Channel href="javascript:void(0)" name="StranLink" id="StranLink">繁体中文</A> <SCRIPT language=javascript src="/js/gb_big5.js"></SCRIPT></li>
</ul>
<li><a href="/">首页</a></li>
<li><a href="/updata/">更新记录</a> </li>
<li class="active">{SField sid="更新记录数据源标签" FD="Title" page="0"/}</li>
</ol>
</div>

<div class="container ">
<div class="updata2015_c">
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">提示:</span>
  提示：版本更新为最新研发动态展示，不代表最终发布或产品功能买卖约定，商业用户可优先获取[<a href="/shop/">点此购买商业版本</a>]
</div>

<h1>功能名称：{SField sid="更新记录数据源标签" FD="Title" page="0"/}</h1>
<span hidden>点击数:<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="更新记录数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></span>
<ul>
<li>更新类型：{SField sid="更新记录数据源标签" FD="leis" page="0"/}</li>
<li>更新时间：{SField sid="更新记录数据源标签" FD="updates" page="0"/}</li>
<li>当前版本：{SField sid="更新记录数据源标签" FD="pub" page="0"/}</li>
<li>是否提供单独更新包：{SField sid="更新记录数据源标签" FD="sends" page="0"/}</li>
<li>是否已开放标准版中下载 :{SField sid="更新记录数据源标签" FD="down" page="0"/}</li>
</ul>
<h2>更新说明:</h2>
<div class="updata2015_c_txt">
{SField sid="更新记录数据源标签" FD="Content" page="0"/}
</div>

<!-- BaiduShare Button BEGIN -->
<a href="http://demo.z01.com/Class_100/NodePage.aspx?t={SField sid="更新记录数据源标签" FD="Title" page="0"/}-来自{$SiteName/}&urls={$SiteURL/}/item/{SField sid="更新记录数据源标签" FD="GeneralID" page="0"/}.aspx" target="_blank"><i class="fa  fa-share-alt-square"></i> 分享网址</a>
</div>
<!-- Baidu Button END -->
<a href="javascript:history.back(-1)">返回上一页←</a>
</div>
</div>

<div class="container">
{ZL:CopyRight({SField sid="更新记录数据源标签" FD="GeneralID" page="0"/})/}
<div class="panel"><img src="/skin/default/Comment.gif" />  本文责任编辑：{ZL.Label id="编辑_信息中心通用"/} &nbsp;<a href="/user/content/addtofav.aspx?infoid={SField sid="更新记录数据源标签" FD="GENERALID"/}" target="_blank">加入会员收藏夹</a>&nbsp;<a href="/Comments/CommentFor.aspx?ID={SField sid="更新记录数据源标签" FD="GeneralID" page="0"/}" target="_blank">点此参与评论</a>>></div>
<div class="panel"><a href="/corp/about/83.shtml" target="_blank"><img src="/skin/default/post.gif" alt="进一步意向" />对[<span style="color:red">{SField sid="更新记录数据源标签" FD="Title" page="0"/}</span>]这条信息感兴趣吗？您还可以点此联系我们以确定进一步意向。</a></div>
<div class="panel">{ZL.Label id="响应式点击复制网址"/}</div>
<div class="Contnet_old">上一篇文章：{ZL.Label id="上一篇文章" NodeID="{SField sid="更新记录数据源标签" FD="NodeID" page="0"/}" /}</div>
<div class="Contnet_old">下一篇文章：{ZL.Label id="下一篇文章" NodeID="{SField sid="更新记录数据源标签" FD="NodeID" page="0"/}" /}</div>
</div>
<!--中部主体结束 -->



{ZL.Label id="响应式网站底部"/}

{ZL.Label id="2012浮动客服代码"/}

</body>
</html>
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
//检测固顶事件
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script> 