{ZL.Source id="视频模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{SField sid="视频模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="视频模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="视频模型数据源标签" FD="Title" page="0"/}">
<link href="/skin/2010/css/global.css?version=V201312" rel="stylesheet" type="text/css" />
<link href="/template/office/style/2012.css?version=V201312" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/pub.js"></script>
<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/template/office/style/js/prototype.js"></script>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<!--[if IE]>
   <script src="/js/html5.js"></script>
<![endif]-->
<style type="text/css">
#viedos{ border-bottom:1px solid #ccc; height:30px; line-height:30px;}
#viedos li{ width:120px; float:left; cursor:pointer;color:#39F}
#viedos .active{ color:#000}
#swf{width:750px;height:430px;margin-top:20px; position:relative}
#big{ position:absolute; right:10px; bottom:0px;}</style>
<SCRIPT src="/skin/2010/js/change.js"></SCRIPT>
<script src="/skin/2010/js/dropdown.js"></script>
</head>
<body>
<div id="header_x">
<script type="text/javascript" src="/AD/201205/14.js"></script>
<h1><a href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a></h1>
</div>
<p>
<a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序">最新版本号：<script type="text/javascript" src="/AD/201003/8.js"></script>[免费下载]</a>
<iframe src="/Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="186px" height="24px"></iframe>
</p>
</div>
</div>
</div>
<!--header_x end -->

<div class="naver">
<div id="nav_x">
<div id="menus">
<div id="menuNav">
<ul>
<strong>开启WEB云计算内核之门：</strong>
<li class="on"><a href="/" target="_blank">网站首页</a></li>
<li><a href="/product/" target="_blank">走进逐浪</a></li>
<li><a href="/shop/" target="_blank">产品中心</a></li>
<li class="scuess"><img src="/template/office/style/images/hot.gif" class="hot"><a href="/case/" target="_blank">成功案例</a></li>
<li><a href="/Project/" target="_blank">解决方案</a></li>
<li><a href="/mb/" target="_blank">模板中心</a></li>
<li><a href="/pub/" target="_blank">下载产品</a></li>
<li><a href="/demo/" target="_blank">体验中心</a></li>
<li><a href="http://club.zoomla.cn/" target="_blank">技术社区</a></li>
</ul>
</div>
{ZL.Label id="可收缩便捷导航"/}

</div>
</div>
<!--nav_x end -->
</div>

<div id="banner2014" style=""><img src="/Template/office/style/images/2013banner.jpg" alt="逐浪软件" /></div>

<!--内容主体开始 -->
<div id="main">

<div id="Content">
<div id="navMenu" >
<ul>
    <li><a style="cursor:pointer" rel='dropmenu1' target="_blank">视频类型</a></li>
	<li class="line"></li>
    <li><a href='#'  rel='dropmenu2' target="_blank">按流程分类</a></li>
	<li class="line"></li>
    <li><a href='#'  rel='dropmenu3' target="_blank">按产品分类</a></li>
	<li class="line"></li>
   </ul>
</div>

<ul id="dropmenu1" class="dropMenu">
    <li><a href="/mtv/" target="_blank">教程视频</a></li>
    <li><a href="/corp/music/" target="_blank">企业宣传</a></li>
    <li><a href="/corp/video/" target="_blank">影音逐浪</a></li>
 </ul>
<ul id="dropmenu2" class="dropMenu">
    <li><a href="/mtv/setup/" target="_blank">入门安装</a></li>
    <li><a href="/mtv/modem/" target="_blank">模板开发</a></li>
    <li><a href="/mtv/b2b/" target="_blank">商城网店</a></li>
    <li><a href="/mtv/control" target="_blank">智能管理</a></li>
    <li><a href="/mtv/high" target="_blank">高级进阶</a></li>
	<li><a href="/mtv/cms2/" target="_blank">CMS2教程</a></li>
</ul>
<ul id="dropmenu3" class="dropMenu">
    <li><a href="/nodehot.aspx?NodeID=16&type={$GetUrlencode(内容管理)$}" target="_blank">内容管理</a></li>
    <li><a href="/nodehot.aspx?NodeID=16&type={$GetUrlencode(在线商城)$}" target="_blank">在线商城</a></li>
    <li><a href="/nodehot.aspx?NodeID=16&type={$GetUrlencode(网店系统)$}" target="_blank">网店系统</a></li>
    <li><a href="/nodehot.aspx?NodeID=16&type={$GetUrlencode(公用系统)$}" target="_blank">公用系统</a></li>
</ul>
<script type="text/javascript">cssdropdown.startchrome("navMenu")</script> 

<div id="Class_bannr"  style="margin-top:10px;"><img src="{ZL.Label id="输出栏目图片" NodeID="16" /}" /></div>
<div id="site">当前位置： <a href="/">首页</a>  >  <a href="/mtv">视频教程</a> > <a href="{ZL:GetNodeLinkUrl({SField sid="视频模型数据源标签" FD="NodeID" page="0"/})/}">{ZL.Label id="根据ID输出节点名称" NodeID="{SField sid="视频模型数据源标签" FD="NodeID" page="0"/}" /}</a> > {SField sid="视频模型数据源标签" FD="Title" page="0"/}</div>

<div id="video_con_txt">
<h1>{SField sid="视频模型数据源标签" FD="Title" page="0"/}</h1>
<div id="Content_Info">
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_b" style="line-height: 12px;">
<img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg?cdnversion=20120831" />
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6550456" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->
作者：{SField sid="视频模型数据源标签" FD="author" page="0"/} 发布时间：{ZL:FormatDate({SField sid="视频模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/} 点击数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid=""视频模型数据源标签" FD="GeneralID"/}"></SCRIPT>

</div>

<div id="video_con_swf">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="660" height="500" onClick="swf()">
<param value="false" name="menu"/>
<param name="wmode" value="transparent">
<param name="movie" value="http://edu.zoomla.cn/video/{SField sid="视频模型数据源标签" FD="url" page="0"/}/{SField sid="视频模型数据源标签" FD="url" page="0"/}.swf">
<param name="quality" value="high"> 
<embed src="http://edu.zoomla.cn/video/{SField sid="视频模型数据源标签" FD="url" page="0"/}/{SField sid="视频模型数据源标签" FD="url" page="0"/}.swf" wmode="opaque" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="660" height="500"> 
</embed>
</object>
</div>
<span>◎<a href="http://edu.zoomla.cn/video/{SField sid="视频模型数据源标签" FD="url" page="0"/}/" target="_blank">提示：点此全屏欣赏本教程</a></span>
<div class="clear"></div>
</div>
 
<div id="viedos">
<ul id="myTab1">
 <li class="active" onClick="nTabs(this,0);" >视频介绍</li>
 <li class="normal" onClick="nTabs(this,1);">免费下载</li>
 <li class="normal" onClick="nTabs(this,2);">讲师介绍</li>
 <li class="normal" onClick="nTabs(this,3);">相关视频</li>
</ul>
<div class="clear"></div>
</div>
 
<div id="myTab1_Content0" class="sym">
{SField sid="视频模型数据源标签" FD="content" page="0"/}
</div>
 
<div class="sym_li" id="myTab1_Content1" style="display:none"> 
<br/>本教程为开放教程，点此立即免费下载，推荐使用快车、迅雷等下载工具，确保稳定下载成功：<br/><br/>
<div class="down_text"><a href="http://edu.zoomla.cn/down/Video_tutorial{SField sid="视频模型数据源标签" FD="url" page="0"/}.rar" target="_blank">官方下载</a></div><br/>
</div>

<div class="sym_li" id="myTab1_Content2" style="display:none">
<div class="sym_author">
<strong>讲师{SField sid="视频模型数据源标签" FD="author" page="0"/}：</strong>
{ZL.Label id="输出指定标题的内容" NodeID="85" ShowNum="1" Title="{SField sid="视频模型数据源标签" FD="author" page="0"/}" /}
<br/>
<a href="/Article/server/1774.shtml" target="_blank">如何成为我们的讲师？</a>
</div>
</div>

<div class="sym_li" id="myTab1_Content3" style="display:none">
<ul>
{ZL.Label id="相关视频列表" ShowNum="6" TitleNum="60" NodeID="{SField sid="视频模型数据源标签" FD="NodeID" page="0"/}" /} 
</ul>
</div>

</div>


{ZL.Label id="2013年底新右侧导航"/}
</div>
<!--中部主体结束 -->


{ZL.Label id="新版网站底部"/}

{ZL.Label id="2012浮动客服代码"/}
</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/jquery.bi.js"></script> 
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script> 