{ZL.Source id="文章模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<link href="/template/office/style/animate.min.css" rel="stylesheet"/>
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
<style>
html, body, div#main, div#holder {height: 100%;}
.con2015_banner	 #hero figure{{ZL.Label id="根据GID输出指定文章的附属图" GID="{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}" /}}
/*需要在附属图片写上路径，不能带uploadfiles/，如：1.jpg即uploadifle/1.jpg */
</style>
</head>
<body class="con2015">
<div id="main">
<nav class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="逐浪CMS" src="/Template/office/style/images/logo-lite-write.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li>/</li>
      <li> {ZL.Label id="输出特定ID的父节点名称和链接" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}</li>
      <li>/</li>
       <li>{ZL.Label id="根据ID输出节点名称与链接" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Article/news/">新闻中心</a>
        <li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="/" target="_blank">官网主页</a></li>
        <li><a href="/corp/" target="_blank">公司介绍</a></li>
        <li><a href="/User/Register.aspx" target="_blank">用户注册</a></li>
        <li><a href="/User/" target="_blank">会员登陆</a></li>
        <li><a href="/server" title="联系专业客服">客服中心</a></li>
        <li><a href="/shop/" title="在线购买">商业订购</a></li>
        <li><a href="http://edu.zoomla.cn" taget="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
        <li><a href="http://www.hx008.com/" target="_blank" title="推荐主机域名服务">主机域名</a></li>
        <li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
        <li><a href="/help/" title="帮助中心">帮助中心</a></li>
        <li><a href="http://ad.zoomla.cn" title="广告代码大全" target="_blank">广告源码</a></li>
        </ul>
        </li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- 导航到此结束 -->

<div id="holder">
<div class="container-fluid con2015_banner">
<div id="hero">
<figure></figure>
<footer><h6>{ZL.Label id="根据节点ID输出栏目说明" NodeID="{SField sid="文章模型数据源标签" FD="NodeID" page="0"/}" /}</h6><h1>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h1></footer>
</div>
</div>


<div class="con2015_article">
<div class="container con2015_article_txt">
<h2 class="text-cneter">{SField sid="文章模型数据源标签" FD="subtitle" page="0"/}</h2>
{SField sid="文章模型数据源标签" FD="content" page="0"/}
<div class="cleafix"></div>
<div class="pull-right">作者:{SField sid="文章模型数据源标签" FD="author" page="0"/} 发布时间:{ZL:FormatDate({SField sid="文章模型数据源标签" FD="UpDateTime" page="0"/},yyyy-MM-dd)/}  来源:{SField sid="文章模型数据源标签" FD="source" page="0"/}   点击数:<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT></div>
</div>


<div class="inside accent">
<div>
  <blockquote><script src="{$AdDir/}/201509/16.js"></script></blockquote>
  <span></span></div>
</div>

<div class="container con2015_article_txt con2015_about">
<h4 class="text-center">关于逐浪软件</h4>
　　　Zoomla!逐浪CMS是国内领先的CMS软件研发厂商，专注核心WEB计算与数据处理、企业级软件、移动应用、电商等基础软件研发，为诸多软件厂商提供高端专注的一体化软件研发服务，开放式计算以宽广的胸怀长期在企业和高端门户系统开发领域乘风破浪、赢得了高端开发者的一致认同。<br/>
　　　10年运营，专注成就未来--高端计算与数据中心的经验、十年网站开发和IDC经营轨迹，赋予了逐浪软件团队独天独厚的行业经验，作为国内致力于WEB领域的高端ISV（独立软件研发厂商），为军工企业、世界五百强、大型门户、政府以及诸多个人站长提供个性化的定制开发，硕果累累，分别在北京、上海、南昌三地设立研发中心，是企业软件研发的最佳合作伙伴。<a href="/corp/">+查看详情</a>
<div class="animated con2015_about_title text-center"><span>Zoomla!逐浪CMS更新记录</span><i class="fa fa-space-shuttle"></i></div>
<ul>
{ZL.Label id="查询指定节点ID下信息列表_带时间" ShowNum="20" TitleNum="30" NodeID="62" /}<div class="clearfix"></div>

</ul>
<div class="clearfix"></div>
<div class="pull-right"><a href="/updata/" target="_blank">+查看完整更新记录<i class="fa fa-cog fa-spin"></i></a></div>
</div>


<!--中部主体结束 -->
{ZL.Label id="响应式网站底部"/}

</div>
</div>





</div><!--holder end-->
</div>

</body>
</html>
<script>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

//搜索关键字
function setEmpty(obj) {
	if (obj.value == "全站检索") {
		obj.value = "";
	}
}
function settxt(obj) {
	if (obj.value == "") {
		obj.value = "全站检索";
	}
}


$(function () {
	$("#tabs1 a").mouseover(function (e) {
		$(this).tab('show');
	});
   
});
$ID = function(el){
	return document.getElementById(el);
};
function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}


</script>