<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F919FA73C25E10215D3A4DE680C6295F9307AA9C46BC95DF678C5F77651F418CB5B1A12786376CA71DEBB95FB68E9DB5FA9625950937D5221DBF2E6DEF8C05D42717E9F1F667357179FA99E15EFB77DAB6D6785788CC8DE6B0EB06765D433BDE44C" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>