{ZL.Source id="栏目信息数据源"/}
<!DOCTYpE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
</head>
<body class="blog2015">
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="home_scolls">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">智能切换导航</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img alt="{$SiteName/}" src="{$CssDir/}images/logo1.png" /></a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/">网站首页</a></li>
<li><a href="/product/">走进逐浪</a></li>
<li><a href="/shop/">产品中心</a></li>
<li><a href="/case/">成功案例</a></li>
<li><a href="/project/">解决方案</a></li>
<li><a href="/mb/">模板中心</a></li>
<li><a href="/demo/">体验中心</a></li>
<li><a href="http://club.zoomla.cn/" target="_blank">技术社区</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 官方导航 <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/" target="_blank">官网主页</a></li>
<li><a href="/corp/" target="_blank">公司介绍</a></li>
<li><a href="/User/Register.aspx" target="_blank">用户注册</a></li>
<li><a href="/User/" target="_blank">会员登录</a></li>
<li><a href="/server" title="联系专业客服">客服中心</a></li>
<li><a href="/shop/" title="在线购买">商业订购</a></li>
<li><a href="http://edu.zoomla.cn" taget="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
<li><a href="http://www.hx008.com/" target="_blank" title="推荐主机域名服务">主机域名</a></li>
<li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
<li><a href="/help/" title="帮助中心">帮助中心</a></li>
<li><a href="http://ad.zoomla.cn" title="广告代码大全" target="_blank">广告源码</a></li>
</ul>
</li>
<li class="nav_down"><a href="/pub/" target="_blank">下载逐浪CMS</a></li>
</ul>
</div>
</div>
</div>
<div style="height:77px"></div>
<!-- 导航到此结束 -->
<div class="pics_banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item active pics_bannre1"><a href="/corp/music/listpage.shtml" target="_blank" title="大江-我们的企业歌曲"></a></div>
<div class="item pics_bannre2"><a href="http://gongyi.zoomla.cn/" target="_blank">因爱相聚,开心工作-我们公益在行动</a></div>
<div class="item pics_bannre3"><a href="/corp/job/" target="_blank">加入我们：开启驶向未来的风帆！</a></div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div><!--pics_bannre end-->

<div class="container pics_theme">
<h4>按主题欣赏：</h4>
<div class="row padding5">
<ul class="list-unstyled">
<li><a href="/photo/ltd/2198.shtml" title="团队出游"><span>团队出游</span><i class="fa fa-users"></i></a></li>
<li><a href="/pub/2451.shtml" target="_blank" title="智能硬件"><span>智能硬件</span><i class="fa fa-server"></i></a></li>
<li><a href="/photo/ltd/2198.shtml" title="体感研发"><span>体感研发</span><i class="fa fa-eye"></i></a></li>
<li><a href="/m/" target="_blank" title="移动平台"><span>移动平台</span><i class="fa fa-mobile"></i></a></li>
<li><a href="/club/" target="_blank" title="站长大会"><span>站长大会</span><i class="fa fa-laptop"></i></a></li>
<div class="clearfix"></div>                                                                         
</ul>
</div>
</div><!--pics_theme end-->

<div class="pics_10year">
<div class="pics_10year_c"></div>
</div>

<div class="container pics_list">
{ZL.Label id="图库响应式列表_分页" ShowNum="12" TitleNum="30" /}
</div>

<div class="container pics_cycle">
<ul class="list-unstyled banners_cycle">
<li class="banners_item style-1 ">
<div class="tail">
<div class="inner">
<i class="fa fa-globe"></i>
<h4>在线体验</h4>
<p>最开放的平台,专业打造高品网站建设与推广领导者,10年网站开发经验/自主CMS内核品台</p>
<a class="button" href="/demo/">查看详情</a>
</div>
</div>
</li>
<li class="banners_item style-2 nomargin">
<div class="tail">
<div class="inner">
<i class="fa fa-shopping-cart"></i>
<h4>立即购买</h4>
<p>逐浪软件本着开放共享原则,提供免费开放版本，同时为企业级用户提供更加便利的商业服务版本以及配套服务...</p>
<a class="button" href="/shop/">查看详情</a>
</div>
</div>
</li>
<li class="banners_item style-3 ">
<div class="tail">
<div class="inner">
<i class="fa fa-list"></i>
<h4>价格清单</h4>
<p>根据您的需要选择相应的软件版本，随时与我们取得联系购买，加入尊贵的商业用户行列...</p>
<a class="button" href="{ZL:GetInfoUrl(151)/}">查看详情</a>
</div>
</div>
</li>
<li class="banners_item style-4 nomargin">
<div class="tail">
<div class="inner">
<i class="fa fa-cloud-download"></i>
<h4>免费模板 </h4>
<p>万套免费模板任意下,总有一个是你想要的...</p>
<a class="button" href="/mb/">查看详情</a>
</div>
</div>
</li>
<li class="banners_item style-5 ">
<div class="tail">
<div class="inner">
<i class="fa fa-weibo"></i>
<h4>团队博客</h4>
<p>思想出类拔萃，行动高效务实</p>
<a class="button" href="/blog/">查看详情</a> </div>
</div>
</li>
<li class="banners_item style-6 nomargin">
<div class="tail">
<div class="inner">
<i class="fa fa-graduation-cap"></i>
<h4>联系专家</h4>
<p>联系方式-为您提供一对的专业服务,专业团队+专家顾问,第一时间专业加固与全程升级托管...</p>
<a class="button" href="{ZL:GetInfoUrl(83)/}">查看详情</a>
</div>
</div>
</li>
</ul>
</div>

{ZL.Label id="响应式网站底部"/}
</body>
</html>
<script type="text/javascript">
// initialise plugins
	jQuery(function(){
		// Banners button
		jQuery('ul.banners_cycle li').mouseenter(function(){
			jQuery(this).find('.button').stop(false,true).fadeIn();
		})
		jQuery('ul.banners_cycle li').mouseleave(function(){
			jQuery(this).find('.button').stop(false,true).fadeOut();
		});
		
		// Banners
		jQuery('ul.banners_cycle li:not(.style-1)').mouseenter(function(){
			jQuery(this).css('z-index','6');
			jQuery(this).stop(false, true).animate({right:'-64px'}, {easing:"swing", duration: 300});
			jQuery(this).animate({right:'0'});
		});
		jQuery('ul.banners_cycle li:not(.style-1)').mouseleave(function(){
			jQuery(this).stop(false, true).animate({right:'-64px'});
			jQuery(this).stop(false, true).animate({right:'0'}, 'slow');
		});
		
		// Banner #2
		jQuery('ul.banners_cycle li.style-2').mouseleave(function(){
			jQuery(this).css('z-index','5');
		});
		// Banner #3
		jQuery('ul.banners_cycle li.style-3').mouseleave(function(){
			jQuery(this).css('z-index','4');
		});
		// Banner #4
		jQuery('ul.banners_cycle li.style-4').mouseleave(function(){
			jQuery(this).css('z-index','3');
		});
		// Banner #5
		jQuery('ul.banners_cycle li.style-5').mouseleave(function(){
			jQuery(this).css('z-index','2');
		});
		// Banner #6
		jQuery('ul.banners_cycle li.style-6').mouseenter(function(){
			jQuery('body').css('overflow-x','hidden');
		});
		jQuery('ul.banners_cycle li.style-6').mouseleave(function(){
			jQuery(this).css('z-index','1');
			jQuery('body').css('overflow-x','hidden');
		});
	});
</script>
