{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_逐浪OA与能力办公系统</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}oas.css?v={ZL.Label id="前端样式版本号"/}" rel="stylesheet" type="text/css" />
<script src="{$CssDir/}js/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="{$CssDir/}js/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
<script src="{$CssDir/}js/flickerplate.min.js" type="text/javascript"></script>
<style>
.navbar-default{background:none; border:none;}
.navbar-brand img{height:48px;}
.navbar-collapse{padding-top:1.5em;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:none; border-bottom:1px solid #ccc;}

.documentation { padding: 100px 0px; text-align:center; }
.documentation h3, p { text-align: center; }
.documentation h3 { margin: 0px 0px 20px 0px; font-weight: 300; font-size: 2em; }
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
<div class="container-fulid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img alt="{$SiteName/}" src="{$CssDir/}images/logo_w.svg" /></a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="{ZL:GetNodeLinkUrl(146)/}">OA首页 <span class="sr-only">(current)</span></a></li>
<li><a href="{ZL:GetNodeLinkUrl(147)/}">产品介绍</a></li>
<li><a href="{ZL:GetNodeLinkUrl(148)/}">移动优先</a></li>
<li class="active"><a href="{ZL:GetNodeLinkUrl(149)/}">功能大赏</a></li>
<li><a href="{ZL:GetNodeLinkUrl(150)/}">自由开发</a></li>
<li><a href="{ZL:GetNodeLinkUrl(151)/}">版本历史</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">特色功能 <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="#">云端办公</a></li>
<li><a href="#">快速安装</a></li>
<li><a href="#">管理简易</a></li>
<li><a href="#">自由集成</a></li>
<li><a href="#">维护方便</a></li>
</ul>
</li>
<li><a href="/OAS/get/">获得OA套件</a></li>
</ul>
<form class="navbar-form navbar-left" role="search" hidden>
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">搜索</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="/pub/">立即下载</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于 <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/corp" target="_blank">公司</a></li>
<li><a href="/corp/team" target="_blank">团队</a></li>
<li><a href="/y10" target="_blank">年庆</a></li>
<li role="separator" class="divider"></li>
<li><a href="/product/">CMS</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!--导航结束-->

<div class="Class_dasan_banner"></div>

<div class="container Class_dasan">
<div class="col-sm-12 col-md-12">
<h3 class="page-header">12大特色值得拥有：</h3>
<div class="docs-galley">
<ul class="list-unstyled docs-pictures clearfix">
<li><img data-original="{$CssDir/}images/img/emma-watson-1.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-1.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-2.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-2.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-3.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-3.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-4.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-4.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-5.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-5.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-6.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-6.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-7.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-7.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-8.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-8.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-9.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-9.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-10.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-10.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-11.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-11.jpg" alt="" /></li>
<li><img data-original="{$CssDir/}images/img/emma-watson-12.jpg" src="{$CssDir/}images/img/thumbnails/emma-watson-12.jpg" alt="" /></li>
</ul>
</div>
</div>
</div>

<div class="class_mobile">
<div class="container " >
<div class="row">




</div>
</div>  
</div>
</body>
</html>
<script src="{$CssDir/}js/viewer.js"></script> 
<script>
$(function() {
  $('button.navbar-toggle').click(function(){ 
    $('body').toggleClass('out');
    $('nav.navbar-fixed-top').toggleClass('out');
    if ($('body').hasClass('out')) {
      $(this).focus();
    } else {
      $(this).blur();
    }
  });
});

$(document).click(function(e) {
  if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
    e.preventDefault();
    $('button.navbar-toggle').trigger('click');
  }
}).keyup(function(e) {
  if (e.keyCode == 27 && $('body').hasClass('out')) {
    $('button.navbar-toggle').trigger('click');
  } 
});

$(function () {

  'use strict';

  var console = window.console || { log: function () {} };
  var $images = $('.docs-pictures');
  var $toggles = $('.docs-toggles');
  var $buttons = $('.docs-buttons');
  var handler = function (e) {
        console.log(e.type);
      };
  var options = {
        // inline: true,
        url: 'data-original',
        build: handler,
        built: handler,
        show: handler,
        shown: handler,
        hide: handler,
        hidden: handler
      };

  function toggleButtons(mode) {
    if (/modal|inline|none/.test(mode)) {
      $buttons.
        find('button[data-enable]').
        prop('disabled', true).
          filter('[data-enable*="' + mode + '"]').
          prop('disabled', false);
    }
  }

  $images.on({
    'build.viewer': handler,
    'built.viewer': handler,
    'show.viewer': handler,
    'shown.viewer': handler,
    'hide.viewer': handler,
    'hidden.viewer': handler
  }).viewer(options);

  toggleButtons(options.inline ? 'inline' : 'modal');

  $toggles.on('change', 'input', function () {
    var $input = $(this);
    var name = $input.attr('name');

    options[name] = name === 'inline' ? $input.data('value') : $input.prop('checked');
    $images.viewer('destroy').viewer(options);
    toggleButtons(name);
  });

  $buttons.on('click', 'button', function () {
    var data = $(this).data();
    var args = data.arguments || [];

    if (data.method) {
      if (data.target) {
        $images.viewer(data.method, $(data.target).val());
      } else {
        $images.viewer(data.method, args[0], args[1]);
      }

      switch (data.method) {
        case 'scaleX':
        case 'scaleY':
          args[0] = -args[0];
          break;

        case 'destroy':
          toggleButtons('none');
          break;
      }
    }
  });

});
</script>