{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_逐浪OA与能力办公系统</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="/dist/css/animate.min.css" rel="stylesheet"/>
<link href="{$CssDir/}oas.css?v={ZL.Label id="前端样式版本号"/}" rel="stylesheet" type="text/css" />
<script src="{$CssDir/}js/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="{$CssDir/}js/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
<script src="{$CssDir/}js/flickerplate.min.js" type="text/javascript"></script>
<style>
.navbar-default{background:none; border:none;}
.navbar-brand img{height:48px;}
.navbar-collapse{padding-top:1.5em;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:none; border-bottom:1px solid #ccc;}
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
<div class="container-fulid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img alt="{$SiteName/}" src="{$CssDir/}images/logo_w.svg" /></a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="{ZL:GetNodeLinkUrl(146)/}">OA首页 <span class="sr-only">(current)</span></a></li>
<li class="active"><a href="{ZL:GetNodeLinkUrl(147)/}">产品介绍</a></li>
<li><a href="{ZL:GetNodeLinkUrl(148)/}">移动优先</a></li>
<li><a href="{ZL:GetNodeLinkUrl(149)/}">功能大赏</a></li>
<li><a href="{ZL:GetNodeLinkUrl(150)/}">自由开发</a></li>
<li><a href="{ZL:GetNodeLinkUrl(151)/}">版本历史</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">特色功能 <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="#">云端办公</a></li>
<li><a href="#">快速安装</a></li>
<li><a href="#">管理简易</a></li>
<li><a href="#">自由集成</a></li>
<li><a href="#">维护方便</a></li>
</ul>
</li>
<li><a href="/OAS/get/">获得OA套件</a></li>
</ul>
<form class="navbar-form navbar-left" role="search" hidden>
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">搜索</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="/pub/">立即下载</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于 <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="/corp" target="_blank">公司</a></li>
<li><a href="/corp/team" target="_blank">团队</a></li>
<li><a href="/y10" target="_blank">年庆</a></li>
<li role="separator" class="divider"></li>
<li><a href="/product/">CMS</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!--导航结束-->

<div class="flicker-example" data-block-text="false">
<ul>
<li data-background="{$CssDir/}images/field.jpg">
<div class="flick-title">Z套件-领先时代可自由订制的OA办公软件系统</div>
<div class="flick-sub-text">主线、工作流、时间线、部门、附件、文件、共享、会议、项目……丰富的应用和唯美的界面体验让信息化建设如虎生翼.</div>
</li>
<li data-background="{$CssDir/}images/forest.jpg">
<div class="flick-title">13年来我们只做了一款具备鲁棒性的办公系统</div>
<div class="flick-sub-text">注入、后门、漏洞-受够了低端无效的程序，我们只做企业级产品，专为程序员开放，奔腾卓越的64位大数据办公平台.</div>
</li>
<li data-background="{$CssDir/}images/frozen-water.jpg">
<div class="flick-title">公有云？私有云？Z套件让您自由选择</div>
<div class="flick-sub-text">您可以免费使用我们的线上版本，也可以进行私有化部署建立起强大的私有办公平台.</div>
</li>
</ul>
</div>
<!--banner结束-->

<div class="container documentation">
<section id="highlights" class="tf_slider">
<div class="inner-circle clearfix">
<div class="highlights-cta">
<h3>高效的办公首选！</h3>
<p>移动互联网时代、三网一体、具备强大鲁棒性与卓越使用体验的线上办公平台，可以自由接入各类平台并进行量身订制的二次开发.</p>
<div class="buttons"> <a class="button">移动体现更卓越</a> <a class="button">免费下载它</a> </div>
</div>
<div id="mac-book">
<div class="ratio"></div>
<div id="mac-screen">
<div class="hgh-linner hgi" data-index="0"> <img width="190" height="320" src="{$CssDir/}images/pc1.jpg" class="attachment-highlight wp-post-image" alt="screen" /> </div>
<div class="hgh-linner hgi" data-index="1"> <img width="234" height="398" src="{$CssDir/}images/pc2.jpg" class="attachment-highlight wp-post-image" alt="screensdst" /> </div>
<div class="hgh-linner hgi" data-index="2"> <img width="234" height="398" src="{$CssDir/}images/pc3.jpg" class="attachment-highlight wp-post-image" alt="screen_09" /> </div>
<div class="hgh-rinner hgi" data-index="3"> <img width="234" height="398" src="{$CssDir/}images/img/emma-watson-8.jpg" class="attachment-highlight wp-post-image" alt="screen_07" /> </div>
<div class="hgh-rinner hgi" data-index="4"> <img width="234" height="398" src="{$CssDir/}images/img/emma-watson-9.jpg" class="attachment-highlight wp-post-image" alt="screen_08" /> </div>
<div class="hgh-rinner hgi" data-index="5"> <img width="234" height="398" src="{$CssDir/}images/img/emma-watson-10.jpg" class="attachment-highlight wp-post-image" alt="screen_06" /> </div>
<span id="left"></span> <span id="right"></span>
<div id="bullet-navs"></div>
</div>
</div>
</div>
</section>
<!--Highlights close-->
</div>
<!--效果展示结束-->

<div class="home_about">
<div class="container">
<a href="http://www.zoomla.cn/pub" target="_blank" class="btn-banner">立即下载</a>
<a href="http://www.zoomla.cn/mtv" target="_blank" class="btn-banner">开发教程</a>
</div>    
</div>
<!--下载按钮结束-->

<div class="container documentation" >
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about">
<h3>专注企业OA办公平台</h3>
<p>快速搭建企业的私有办公平台，或直接使我们的云端版本5分钟就能建立起强大的线上OA，并时行整个团队的协同，这一切完全是免费的。.</p>
</div>       


<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about_list">
<span class="fa-stack fa-lg fa-3x">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa fa-users fa-stack-1x fa-inverse"></i>
</span>
<h3>免费且功能强大</h3>
<p>还在限定用户数？还不能用云端办公？让一切束缚统统消失，现在就用Z套件办公系统，网站、微信、OA一举搞定，并不需要花费高额成本购买.</p>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about_list">
<span class="fa-stack fa-lg fa-3x">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa fa-cog fa-stack-1x fa-inverse"></i>
</span>
<h3>自由二次开发</h3>
<p>谁说OA系统丑难看、谁说办公软件千篇一律，Z办公套件可以自由二次开发，超文本语言和前端引擎使样式表达尽善尽美，比肩macOS的唯美办公平台.</p>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about_list">
<span class="fa-stack fa-lg fa-3x">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
</span>
<h3>面向移动化</h3>
<p>微站、微信、APP均能快速接入，并提供了快速的移动生成工具，使企业移动办公、考勤签到都很方便，Z套件是您企业信息化的不二首选.</p>
</div>
</div>
</div>  
<!--功能介绍结束-->

<div class="footer">
<nav class="navbar navbar-default">
<div class="container text-center">
Copyritght &copy; 2016上海逐浪软件科技有限公司版权所有
</div>
</nav>
</div>
</body>
</html>
<script src="{$CssDir/}js/zenith.js"></script> 
<script>
$(function() {
  $('button.navbar-toggle').click(function(){ 
    $('body').toggleClass('out');
    $('nav.navbar-fixed-top').toggleClass('out');
    if ($('body').hasClass('out')) {
      $(this).focus();
    } else {
      $(this).blur();
    }
  });
});

$(document).click(function(e) {
  if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
    e.preventDefault();
    $('button.navbar-toggle').trigger('click');
  }
}).keyup(function(e) {
  if (e.keyCode == 27 && $('body').hasClass('out')) {
    $('button.navbar-toggle').trigger('click');
  } 
});

$(document).ready(function(){  //顶部通栏banner
    $('.flicker-example').flicker();
});

//仿mac显示效果
$('#highlights').zenith({
	layout: 'screen'
});
</script>