{ZL.Source id="栏目信息数据源"/}<?xml version="1.0" encoding="UTF-8" standalone="yes" ?><rss version="2.0"><channel visittype="xml" isapiwrite="0" forum_url="http://www.zoomla.cn{ZL:GetNodeLinkUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}" boardid="0" pageurl="http://www.zoomla.cn{ZL:GetNodeLinkUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}" sqlquerynum="0" runtime=".01563"> <title>Zoomla!逐浪CMS官网{SField sid="栏目信息数据源" FD="NodeName" page="0"/}</title>
<link>http://www.zoomla.cn{ZL:GetNodeLinkUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}</link>
<description>{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}</description>
<image>
<url>http://zoomla.cn/skin/2010/images/logo.jpg</url>
<title>Zoomla</title>
<link>http://www.zoomla.cn</link>
</image>
<language>zh-cn</language>
{ZL.Label id="Rss列表" ShowNum="20" NodeID="{SField sid="栏目信息数据源" FD="Tips" page="0"/}" /} 
</channel></rss>