{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="/template/office/style/2014.css" rel="stylesheet" />
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/pub.js"></script>
 <script type="text/javascript" src="/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/template/office/style/js/prototype.js"></script>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<script type="text/javascript" src="/template/office/style/js/openwin.js"></script> 
<link href="/template/office/style/tinyScreen.css?version=V201312" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/skin/2010/js/v4.js"></script>
</head>
<body>
{ZL.Label id="响应式网站头部"/}
<div id="banner2014" class="text-right">
<img src="/Template/office/style/images/2013banner.jpg" alt="逐浪软件" class="img-responsive" />
<div class="clearfix"></div>
</div>
 <div class="container margintop10">
<div class="row">
{ZL.Label id="响应式首页左边区"/}
<!--中左结束 -->

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
<ol class="breadcrumb">
<li class="pull-right"><a href="javascript:window.print();"><img src="/skin/2010/images/i_tool_print.gif" /></a>
<a href=""><img src="/skin/2010/images/i_tool_email.gif" /></a>
<a href="http://v.t.qq.com/share/share.php?title=逐浪CMS官方产品介绍与推介中心http://www.zoomla.cn/pub/listpage.shtml" title="转发至腾讯微博"><img src="/skin/2010/images/i_tool_social.gif" /></a>
</li>
 当前位置： <li><a href="/">首页</a></li>
  <li><a href="{ZL:GetNodeLinkUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}">{ZL.Label id="根据ID输出节点名称" NodeID="{SField sid="栏目信息数据源" FD="NodeID" page="0"/}" /}</a></li>
  <li class="active">信息列表</li>
</ol>
   <div id="prj580">
 <h1>我们只专注开发这个时代最好的CMS系统与智能WEB解决方案</h1>
<abbr><strong>Zoomla!逐浪CMS开发理念:</strong></abbr>
<article>
<span class="short" id="show_info_short">Zoomla!逐浪CMS软件由上海逐一软件科技有限公司、江西逐浪软件科技有限公司联袂打造，其旗下华夏互联hx008.com开发团队，是华中排名第一的IDC服务商，拥有近十年的网站开发服务经验，一直以来致力于高端的WEB开发，也是国内领先的TOP外包合作商...</span> 
<span class="long" id="show_info_long" style="display:none">Zoomla!逐浪CMS软件由上海逐一软件科技有限公司、江西逐浪软件科技有限公司联袂打造，其旗下华夏互联hx008.com开发团队，是华中排名第一的IDC服务商，拥有近十年的网站开发服务经验，一直以来致力于高端的WEB开发，也是国内领先的TOP外包合作商。<br>
作为国产CMS的领先企业和国内首家推出的基于微软公司.NET平台的高端网站内核内容管理系统，Zoomla!逐浪CMS具备八大模块、近百项功能，深得业界好评。<br>
在.NET平台开发的CMS行业，Zoomla!逐浪CMS与四川风讯CMS、北京百榕科技、佛山动易软件等公司，引领国产CMS行业的潮流，已成为业界事实标准。<br>
截止2012年1月10日，Zoomla!逐浪CMS累计被下载次数达到千万人次，其中与CSDN、ChinaZ中国站长站、华军软件、天空下载等网站合作分流下载，并通过展会光盘赠送、邮件投递、程序员聚会现场发布等方式传达，更为Zoomla!逐浪CMS软件积累了较高的用户群体。<br>
建网站，选逐浪。<br>
易上手，功能棒。<br>
质量好，服务善。<br>
高性能，最划算。<br>
开放的逐浪软件、诚信进取的逐浪人，期待与业内外广大客户朋友和伙伴们结为合作，共图发展！<br>
</span> <span class="handle"><a charset="404-4-05-08" onclick="Display.toggleText('show_info_short', 'show_info_long', this)">展开简介></a></span>
</article>   

<abbr><strong>详细说明</strong></abbr>
<article>
<div id="Class_txt">
{ZL.Label id="响应式通用型栏目分页" ShowNum="44" /}
</div>
</article>

<abbr><strong>最佳配置应用</strong></abbr>
<div class="article">
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 paddingtop20">
<img src="/uploadfiles/iaa/200910/200910310303383845.jpg" alt="" class="img-thumbnail">
</div>
<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
<strong>高端的文章内容管理</strong>
在2010年的上半年逐浪CMS即将翻开崭新的一页，Zoomla！逐浪CMS4.6版本将以更加高端的姿态完美呈现。新版本不仅在使用功能上继续加强，同时在视觉感官上也力求完美。会员中心的有问必答功能就很好的体现了Zoomla！逐浪CMS的更新理念，同时也逐浪CMS的更新理念，同时也逐浪CMS的更新理念，同时也逐浪CMS的更新理念，同时也昭示着逐浪CMS在商务领航方向上的又一次重大跨越！
</div>
</div>
<abbr><strong>最新模块播报</strong></abbr>

 <div class="article">
 <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 paddingtop20">
<img src="/uploadfiles//iaa/200910/200910310303383845.jpg" alt=""  class="img-thumbnail">
</div>
<div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
<strong>专为商城服务的尖端B2B系统</strong>
用于构建大型商城，开展B2B、B2C甚至是C2C的电子商务系统，集成智能支付网关、货源管理、货源管理、客户管理、项目管理等智能化系统，是目前国内最专业的商城解决方案！
</div>
</div>
</div><!--中部结束 -->
</div>
 
</div>
</div>
<!--中部主体结束 -->


{ZL.Label id="响应式网站底部"/}
</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/jquery.bi.js"></script> 
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script>