{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}2014.css" rel="stylesheet" />
</head>
<body class="blog2015">
<div class="relative">
<div class="navbar navbar-default" role="navigation" id="home_scolls">
<div class="container blog2015_nav">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">智能切换导航</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$CssDir/}/images/logo.svg" alt="逐浪CMS官方博客" /></a>
</div>
<div class="navbar-collapse collapse corop2015_top">
<ul class="nav navbar-nav">
<li class="active"><a href="/blog/" target="_blank">官方博客</a></li>
<li><a href="/blog/products/">产品管锥</a></li>
<li><a href="/blog/eye/">观点碰撞</a></li>
<li><a href="/blog/techs/">技术问道</a></li>
<li><a href="/blog/ren/">那人那事</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
<li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 官方导航 <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/" target="_blank">官网主页</a></li>
<li><a href="/corp/" target="_blank">公司介绍</a></li>
<li><a href="/User/Register.aspx" target="_blank">用户注册</a></li>
<li><a href="/User/" target="_blank">会员登陆</a></li>
<li><a href="/server" title="联系专业客服">客服中心</a></li>
<li><a href="/shop/" title="在线购买">商业订购</a></li>
<li><a href="http://edu.zoomla.cn" taget="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
<li><a href="http://www.hx008.com/" target="_blank" title="推荐主机域名服务">主机域名</a></li>
<li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
<li><a href="/help/" title="帮助中心">帮助中心</a></li>
<li><a href="http://ad.zoomla.cn" title="广告代码大全" target="_blank">广告源码</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
<!-- 导航到此结束 -->

<DIV class="blog2015_banner2" style="background-image: url({SField sid="栏目信息数据源" FD="NodePicUrl" page="0"/});">
<DIV class="container">
<h2 class="ZoomlaXingtiJ3"><i class="fa  fa-slideshare"></i>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}<abbr>--Zoomla!逐浪CMS官方博客</abbr></h2>
</div>
</div>

<div class="container blog2015_con">
<h3>{SField sid="栏目信息数据源" FD="Description" page="0"/}</h3>
<div id="Class_txt">
{ZL.Label id="响应式通用型栏目分页" ShowNum="20" /}
</div>
</div>


<!--中部主体结束 -->
{ZL.Label id="响应式网站底部"/}
</body>
</html>
<script>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

//搜索关键字
function setEmpty(obj) {
	if (obj.value == "全站检索") {
		obj.value = "";
	}
}
function settxt(obj) {
	if (obj.value == "") {
		obj.value = "全站检索";
	}
}


$(function () {
	$("#tabs1 a").mouseover(function (e) {
		$(this).tab('show');
	});
   
});
$ID = function(el){
	return document.getElementById(el);
};
function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}


</script>