{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>帮助中心-Zoomla!逐浪CMS站长学习的开始</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
<link href="/skin/2010/css/global.css" rel="stylesheet" type="text/css" />
<link href="/skin/2010/css/case.css" rel="stylesheet" type="text/css">
<SCRIPT language=javascript src="/skin/2010/js/ajax.js"></SCRIPT>
<SCRIPT type=text/javascript src="/js/tab.js"></SCRIPT>
<SCRIPT language=javascript src="/js/pub.js"></SCRIPT>
</head>
<body>
<div id="top">
<div id="logo"><a href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a></div>
<div id="search">
<span><iframe src="/Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="180px" height="25px"></iframe></span>
<div id="top_bb">
<a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序"><img src="/skin/2010/images/down.jpg" alt="下载逐浪CMS" /></a>
<a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序">最新版本号：<script type="text/javascript" src="{$AdDir/}/201003/8.js"></script></a>
</div>
</div>

<div id="top_r">
<div id="top_o"><a href="/vip/" target="_blank" title="高端计算专区"><img src="/skin/2009/oracle.gif" />高端计算专区由此进入>></a></div>
<ul>
<li><a href="/shop/" title="在线购买">商业订购</a></li>
<li><a href="/corp/about/83.shtml" title="联系专业客服">客服中心</a></li>
<li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
<li><a href="/help/" title="帮助中心">帮助中心</a></li>
<li><a href="http://help.zoomla.cn/" target="_blank" title="在线文档">在线文档</a></li>
<li><a href="http://edu.zoomla.cn" target="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
<li><a href="http://ad.zoomla.cn" title="广告代码大全" target="_blank">广告源码</a></li>
</ul>
</div>
</div>
<!--顶部结束 -->

<div id="nav">
<div id="nav_l"></div>
<div id="nav_m">
{ZL.Label id="可收缩便捷导航"/}

<div id="nav_m_r">
<ul>
<li><a href="/" target="_blank">网站首页</a></li>
<li><a href="/product/" target="_blank">走进逐浪</a></li>
<li><a href="/shop/" target="_blank">产品中心</a></li>
<li class="on"><a href="/ColumnList.aspx?NodeID=9" target="_blank">成功案例</a></li>
<li><a href="/ColumnList.aspx?NodeID=24" target="_blank">解决方案</a></li>
<li><a href="/mb/" target="_blank">模板中心</a></li>
<li><a href="http://club.zoomla.cn/" target="_blank">技术社区</a></li>
</ul>
</div>

</div>
<div id="nav_r"></div>
</div>
<!--大导航菜单结束 -->

<div id="i_nav">
<p>
<a href="/">当前位置： 首页</a>  >  <a href="{ZL:GetNodeUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}">{ZL.Label id="根据ID输出节点名称" NodeID="{SField sid="栏目信息数据源" FD="NodeID" page="0"/}" /}</a> > 频道首页
</p>
<ul>
<li class="biz_log"><a href="/biz/" target="_blank">授权验证</a></li>
<li class="wap_log"><a href="/wap/Default.aspx" target="_blank">手机访问</a></li>
<li class="rss_log"><a href="/rss/Default.aspx" target="_blank">RSS聚合</a></li>
<li class="reg_log"><a href="/user/" target="_blank">用户登陆</a></li>
<li class="login_log"><a href="/User/Register.aspx" target="_blank">会员注册</a></li>
</ul>
</div>
<!--小导航菜单结束 -->

<div id="banner"><script type="text/javascript" src="{$AdDir/}/200908/6.js"></script></div>
<div id="main">
<div style="width:20%;float:left;border-width: 4px;
	border-style: solid;
	border-color: #7ADFEB;">
<ul style="margin-left:10px;">
{ZL.Label id="名词解释_标题列表" num="20" /}
</ul>
</div>
<div style="width:75%;float:left;margin-left:10px;border-style: solid;
	border-color: #7ADFEB;">
<ul style="margin-left:20px;">
{ZL.Label id="名词解释_内容列表"/}
</ul>
</div>
</div>
<!-- 主体部分结束 -->


<div id="main_call_w">
<div id="main_call">
<div id="down"><a href="/pub/" title="免费下载快速通道" target="_balnk">下载逐浪</a></div>
<div id="server"><a href="{ZL:GetInfoUrl(83)/}" title="我们准备好了为您服务！" target="_balnk">在线客服</a></div>
<div id="help"><a href="{ZL:GetInfoUrl(151)/}" title="订购逐浪CMS商业版本" target="_balnk">商业订购</a></div>
<div id="buy"><a href="/updata/" target="_balnk" title="最新的更新记录与软件研发动态">更新记录</a></div>
<div id="go_top"><a href="#top" title="返回顶部">TOP</a></div>
</div>
</div>
<!--最右联系浮动结束 -->
</div>

</div>
<!--中部主体结束 -->
<div id="bottom_line"></div>
<div id="bottom">
<ul>
<li><a href="/corp/">关于我们</a></li>
<li><a href="/corp/about/94.shtml">合同文档</a></li>
<li><a href="/corp/about/84.shtml">汇款方式</a></li>
<li><a href="/corp/about/83.shtml">联系我们</a></li>
<li><a href="/corp/job/">工作机会</a></li>
<li><a href="http://2009.hx008.com/magazine/" target="_blank">电子会刊</a></li>
<li><a href="/corp/about/95.shtml">版权申明</a></li>
<li><a href="http://gongyi.zoomla.cn" target="_blank">慈善公益</a></li>
<li><a href="/photo/ltd/">参观公司</a></li>
</ul>
<div class="bottom_r"><a href="/corp/media/" target="_blank">媒体报道</a></div>
<div class="bottom_r"><a href="/corp/about/93.shtml" target="_blank">公司资质</a></div>
<div class="bottom_r"><a href="/blog/" title="官方团队的开发日志">官方博客</a></div>
</div>
<!--底部导航结束 -->

<div id="copyright">
<div id="copyright_logo"><a href="http://www.zoomla.cn/" target="_blank"><img src="/skin/2009/copyright_logo.gif" /></a></div>
<p>
{ZL.Label id="底部版权定义"/}</p>
<div id="copyright_r">
<span>7×24小时服务热线：<b>021-50391046</b></span>
<span>技术支持：<b>13177777714</b></span>
<ul>
<li><SCRIPT>document.writeln("<a href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=2012041112133385'><img src='/Skin/2010/images/gs.gif' alt='工商认证'></a>")</SCRIPT></li>
<li><a href="/corp/about/472.shtml" target="_blank" title="欣赏电子杂志"><img src="/skin/2009/magazine.gif" /></a></li>
<li><a href="/corp/about/83.shtml" target="_blank" title="7×24小时全天候贴心服务"><img src="/skin/2009/724.gif" /></a></li>
<li><a href="/corp/about/476.shtml" title="鉴赏MTV电广视告片"><img src="/skin/2009/mtv.gif" /></a></li>
<li><a href="/Article/news/455.shtml" target="_blank" title="ISO9001国际认证企业"><img src="/skin/2009/iso.jpg" /></a></li>
<li><a href="/corp/about/93.shtml" target="_blank" title="CSDN外包TOP资质"><img src="/skin/2009/csdn8A.gif" /></a></li>
</ul>
</div>


</div>
<!--底部版权结束 -->

<div id="end">
<div id="end_l"></div>
<div id="end_m">
<p>本网站基于&reg;Zoomla!逐浪CMS内核开发</p>
<div id="end_m_mail"><script src='/Qmail/SubscribeMail.aspx?type=1'></script></div>
<ul>
<li><a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$SiteURL/}');" href="#">设为首页</a></li>
<li><a href="javascript:window.external.addFavorite('{$SiteURL/}','{$SiteName/}');">加入收藏</a></li>
<li><a href="javascript:CorrectReport();">纠错报告</a></li>
<li><a href="/map.html" target="_blank">网站地图</a></li>
<li><a href="/corp/music"  target="_blank">企业歌曲</a></li>
</ul>
</div>
<div id="end_r"></div>
</div>
<!--最下方导航结束 -->

</body>
</html>