{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}-{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
<link href="/skin/2010/css/global.css?version=V201312" rel="stylesheet" type="text/css" />
<link href="/template/office/style/2012.css?version=V201312" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/pub.js"></script>
<script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/template/office/style/js/prototype.js"></script>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<link href="/skin/2010/css/case.css" rel="stylesheet" type="text/css">
<script language="javascript">
function getObject(objectId) {
if(document.getElementById && document.getElementById(objectId)) {
// W3C DOM
return document.getElementById(objectId);
} else if (document.all && document.all(objectId)) {
// MSIE 4 DOM
return document.all(objectId);
} else if (document.layers && document.layers[objectId]) {
// NN 4 DOM.. note: this won't find nested layers
return document.layers[objectId];
} else {
return false;
}
}
function show_kehu(n){
for (i = 1; i<6; i++) {
	if(n==i){
		getObject("hy" + n).className="index_kehu1";
		getObject("kehu" + n).style.display= ""
	}	
	else {
		getObject("hy" + i).className="index_kehu";
		getObject("kehu" + i).style.display= "none"
	}
}
}
</script>
<!--[if IE]>
   <script src="/js/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="header_x">
<script type="text/javascript" src="{$AdDir/}/201205/14.js"></script>
<h1>
<a href=/>
<img alt='Zoomla!逐浪CMS官网' id='logos' onerror="this.onerror=null;this.src='/skin/2010/images/logo.jpg'" /></a>
<SCRIPT >
   today = new Date();//取当前日期
   date1 = ''  + (today.getMonth() + 1 ) +  today.getDate() +  '';
document.getElementById("logos").src="/logo/"+date1+".jpg";
  // document.write(date1);//能显示出时间
</SCRIPT>
</h1>
</div>
<p>
<a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序">最新版本号：<script type="text/javascript" src="{$AdDir/}/201003/8.js"></script>[免费下载]</a>
<iframe src="/Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="186px" height="24px"></iframe>
</p>
</div>
</div>
</div>
<!--header_x end -->

<div class="naver">
<div id="nav_x">
<div id="menus">
<div id="menuNav">
<ul>
<strong>开启WEB云计算内核之门：</strong>
<li class="on"><a href="/" target="_blank">网站首页</a></li>
<li><a href="/product/" target="_blank">走进逐浪</a></li>
<li><a href="/shop/" target="_blank">产品中心</a></li>
<li class="scuess"><img src="/template/office/style/images/hot.gif" class="hot"><a href="/case/" target="_blank">成功案例</a></li>
<li><a href="/Project/" target="_blank">解决方案</a></li>
<li><a href="/mb/" target="_blank">模板中心</a></li>
<li><a href="/pub/" target="_blank">下载产品</a></li>
<li><a href="/demo/" target="_blank">体验中心</a></li>
<li><a href="http://club.zoomla.cn/" target="_blank">技术社区</a></li>
</ul>
</div>
{ZL.Label id="可收缩便捷导航"/}
</div>
</div>
<!--nav_x end -->

</div>
<!--头部固定-->
<div id="i_nav">
<p>
<a href="/try/" target="_blank">软件选型:如何选择合适的CMS系统</a>
<a href="/try/cmsnews/" target="_blank">行业纵横:中国CMS行业动态及名单</a>
</p>
<ul>
<li class="biz_log"><a href="/biz/" target="_blank">授权验证</a></li>
<li class="wap_log"><a href="/wap/Default.aspx" target="_blank">手机访问</a></li>
<li class="rss_log"><a href="/rss/Default.aspx" target="_blank">RSS聚合</a></li>
<li class="reg_log"><a href="/user/" target="_blank">用户中心</a></li>
<li class="login_log">{ZL:Big5()/}</li>
</ul>
</div>
<!--小导航菜单结束 -->
<!--顶部结束 -->


<div id="banner"><script type="text/javascript" src="{$AdDir/}/200903/4.js"></script></div>


<div id="main">
<!--中左结束 -->

<div class="left725">
<div id="site"><a href="/">当前位置： 首页</a>  >  <a href="{ZL:GetNodeUrl({SField sid="栏目信息数据源" FD="NodeID" page="0"/})/}">{ZL.Label id="根据ID输出节点名称" NodeID="{SField sid="栏目信息数据源" FD="NodeID" page="0"/}" /}</a> > 信息列表</div>

<div id="article_right">
<div id="test" style="margin-top:2px;">
	<div class="A10175right_1">
    	<div class="A10175right_11">
			<div id="hy1" onMouseOver="show_kehu(1)" class="index_kehu1"><a href="/case/gov/" title="点击查看更多案例">政府客户</a></div>
    		<div id="hy2" onMouseOver="show_kehu(2)" class="index_kehu"><a href="/case/edu/" title="点击查看更多案例">教育客户</a></div>
    		<div id="hy3" onMouseOver="show_kehu(3)" class="index_kehu"><a href="/case/qiye/" title="点击查看更多案例">企业客户</a></div>
    		<div id="hy4" onMouseOver="show_kehu(4)" class="index_kehu"><a href="/case/en/" title="点击查看更多案例">外文客户</a></div>
    		<div id="hy5" onMouseOver="show_kehu(5)" class="index_kehu"><a href="/case/other/" title="点击查看更多案例">其它类型</a></div><br />
	</div><br />
</div>
<!--定义滑动菜单结束 -->

<div class="A10175right_top" id="kehu1" >
<div class="case_title"><span class="A10175right_title"><span class="A10175right_22">权威资质：服务政府军工</span></span></div>
<br />

<div class="A10175right_3">政府客户的网站应用与WEB开发需要卓越的功能支持，并助在安全性、稳定性以及可扩展性达到一定的高度。<br />
　　Zoomla!逐浪CMS提供的坚强内核下，为包括军区、陆军学院、国税、电信、邮政等系统提供了卓越的门户网络解决方案。专业的服务、高品质的产品、严谨的流程管理、技术精淇之团队、领先的的专利软件、卓越的硬件支持。<br />
　　逐浪软件倾心、尽心之理念，矢志成为最优秀的政府解决方案服务商。</div>
<br />

<div class="case_title"><span class="A10175right_title">推荐政府客户成功案例</span></div>
<div class="case_show">
<ul>
{ZL.Label id="案例中心展示列表" ShowNum="3" NodeID="10" ArtilNum="600" TitleNum="60" /}
</ul>
</div>

<table  width="100%" height="30" border="1px" align="center" cellpadding="1" cellspacing="0" bordercolor="#E3E3E3" style=" border-collapse:collapse;lineheight:20px;">
  <tr>
    <td width="33%" height="28" align="center" valign="middle"><a href="/pub/" target="_blank"><img src="/skin/default/down_button.jpg" width="158" height="40" alt="免费下载功能强大的Zoomla!逐浪CMS" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="{ZL:GetInfoUrl(151)/}" target="_blank"><img src="/skin/default/buy_button.jpg" width="158" height="40"  alt="商业授权给您更加贴心的服务" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/Project/"><img src="/skin/default/project_button.jpg" width="158" height="40" alt="查看Zoomla!逐浪CMS的专业化解决方案" /></a></td>
    <td width="191" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/case/gov/" target="_blank"><img src="/skin/default/morecase_button.jpg" width="158" height="40"  alt="点击查看更多" /></a></td>
  </tr>
</table>

<br>

</div>

<!--教育行业 style="display:none" -->
<div class="A10175right_top" id="kehu2" style="display:none"  >
 <div class="case_title"><span class="A10175right_title"> 传播知识：构建新时期知识门户</span></div>
 <br />
    <div class="A10175right_3">教育行业的应用因其需求的特殊、负载要求较高等特征，一直是众多软件厂商的角逐高地。逐浪CMS的开发体系中，集多年专业软件解决方案、品牌优势、强壮内核，为国内教育机构、学校以及知识门户提供最高性价比的解决方案。<br>
超前技术、超前产业、超前设计、超前满意--精心耕耘、收获无限，逐浪CMS引领中国教育门户进入全新时代。</div>
<br />
<div class="case_title"><span class="A10175right_title"> 推荐教育行业成功案例</span></div>
<div class="case_show">
<ul>
{ZL.Label id="案例中心展示列表" ShowNum="3" NodeID="11" ArtilNum="600" TitleNum="60" /}
</ul>
</div>

<table  width="100%" height="30" border="1px" align="center" cellpadding="1" cellspacing="0" bordercolor="#E3E3E3" style=" border-collapse:collapse;lineheight:20px;">
  <tr>
    <td width="33%" height="28" align="center" valign="middle"><a href="{ZL:GetNodeLinkUrl(23)/}" target="_blank"><img src="/skin/default/down_button.jpg" width="158" height="40" alt="免费下载功能强大的Zoomla!逐浪CMS" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="{ZL:GetInfoUrl(151)/}" target="_blank"><img src="/skin/default/buy_button.jpg" width="158" height="40"  alt="商业授权给您更加贴心的服务" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/Project/"><img src="/skin/default/project_button.jpg" width="158" height="40" alt="查看Zoomla!逐浪CMS的专业化解决方案" /></a></td>
    <td width="191" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/case/edu/" target="_blank"><img src="/skin/default/morecase_button.jpg" width="158" height="40"  alt="点击查看更多" /></a></td>
  </tr>
</table>
<br />

</div>

<!--企业客户 -->
<div class="A10175right_top" id="kehu3"  style="display:none" >
   <div class="case_title"><span class="A10175right_title">营销与功能双致胜：为企业导入一体的是电子商务运营体系</span></div> 
   <br />
    <div class="A10175right_3">　　导入电子商务、掀起信息革命、革新管理流程、拓展经营新篇、构建全新品牌与形象传播体系、提升企业运行效率。<br>
　　所有的一切，就在短短的10天--Zoomla!逐浪CMS导入企业的高效与强大，为企业带来了卓越的网站门户，更为经营者们打开了全新的蓝色海洋！</div>
    <br />

<div class="case_title"><span class="A10175right_title">推荐企业客户成功案例</span></div>
<div class="case_show">
<ul>
{ZL.Label id="案例中心展示列表" ShowNum="3" NodeID="40" ArtilNum="600" TitleNum="60" /}
</ul>
</div>

<table  width="100%" height="30" border="1px" align="center" cellpadding="1" cellspacing="0" bordercolor="#E3E3E3" style=" border-collapse:collapse;lineheight:20px;">
  <tr>
    <td width="33%" height="28" align="center" valign="middle"><a href="{ZL:GetNodeLinkUrl(23)/}" target="_blank"><img src="/skin/default/down_button.jpg" width="158" height="40" alt="免费下载功能强大的Zoomla!逐浪CMS" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="{ZL:GetInfoUrl(151)/}" target="_blank"><img src="/skin/default/buy_button.jpg" width="158" height="40"  alt="商业授权给您更加贴心的服务" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/Project/"><img src="/skin/default/project_button.jpg" width="158" height="40" alt="查看Zoomla!逐浪CMS的专业化解决方案" /></a></td>
    <td width="191" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/case/corp/" target="_blank"><img src="/skin/default/morecase_button.jpg" width="158" height="40"  alt="点击查看更多" /></a></td>
  </tr>
</table>

</div>

</div>

<!--外文客户 -->
<div class="A10175right_top" id="kehu4" style="display:none" >
    <div class="case_title"><span class="A10175right_title"> 中国的VS世界的：打开中文网站的世界之门</span></div>
    <div class="A10175right_3">你读不懂世界？那让世界来读懂你！<br>
　　革新的UTF8语境，跳跃出了传统国产CMS软件的语言局限；完全支持W3C标准的软件内核，让所有的访客都能体验到全新的浏览感观；在功能强大的内核支持下，畅通无阻的客户访问层，为全新的“中国世界”开僻新途。无论是中国企业走向外国，还是外国企业走进中国，我们都做好了一切准备。</div>
    <br />
<div class="case_title"><span class="A10175right_title"> 推荐外文客户服务案例</span></div>
<div class="case_show">
<ul>
{ZL.Label id="案例中心展示列表" ShowNum="3" NodeID="12" ArtilNum="600" TitleNum="60" /}
</ul>
</div>

<table  width="100%" height="30" border="1px" align="center" cellpadding="1" cellspacing="0" bordercolor="#E3E3E3" style=" border-collapse:collapse;lineheight:20px;">
  <tr>
    <td width="33%" height="28" align="center" valign="middle"><a href="/{ZL:GetNodeLinkUrl(23)/}" target="_blank"><img src="/skin/default/down_button.jpg" width="158" height="40" alt="免费下载功能强大的Zoomla!逐浪CMS" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="{ZL:GetInfoUrl(151)/}" target="_blank"><img src="/skin/default/buy_button.jpg" width="158" height="40"  alt="商业授权给您更加贴心的服务" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/Project/"><img src="/skin/default/project_button.jpg" width="158" height="40" alt="查看Zoomla!逐浪CMS的专业化解决方案" /></a></td>
    <td width="191" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/case/EN/" target="_blank"><img src="/skin/default/morecase_button.jpg" width="158" height="40"  alt="点击查看更多" /></a></td>
  </tr>
</table>
<br />

</div>

<!--其它类型 -->
<div class="A10175right_top" id="kehu5" style="display:none;" >
<div class="case_title"><span class="A10175right_title">融汇贯通：为所有的网站提供强壮的内核与成功驱动力！</span></div>
    <div class="A10175right_3">万物无疆，生生不息--互联网上的创新精神从不曾停止。<br />
　　Zoomla!逐浪CMS秉承开放理念，为站长的创新提供了强有力的支持，无论您是个人，还是企业，或者是团队，都能在逐浪CMS的软件中找到自己的定位，开启你的门户！
      </div>
    <br />

<div class="case_title"><span class="A10175right_title"> 其它精品案例展示</span></div>
<div class="case_show">
<ul>
{ZL.Label id="案例中心展示列表" ShowNum="3" NodeID="42" ArtilNum="600" TitleNum="60" /}
</ul>
</div>

<table  width="100%" height="30" border="1px" align="center" cellpadding="1" cellspacing="0" bordercolor="#E3E3E3" style=" border-collapse:collapse;lineheight:20px;">
  <tr>
    <td width="33%" height="28" align="center" valign="middle"><a href="{ZL:GetNodeLinkUrl(23)/}" target="_blank"><img src="/skin/default/down_button.jpg" width="158" height="40" alt="免费下载功能强大的Zoomla!逐浪CMS" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="{ZL:GetInfoUrl(151)/}" target="_blank"><img src="/skin/default/buy_button.jpg" width="158" height="40"  alt="商业授权给您更加贴心的服务" /></a></td>
    <td width="33%" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/Project/"><img src="/skin/default/project_button.jpg" width="158" height="40" alt="查看Zoomla!逐浪CMS的专业化解决方案" /></a></td>
    <td width="191" align="center" valign="middle" bgcolor="#FFFFFF"><a href="/case/other/" target="_blank"><img src="/skin/default/morecase_button.jpg" width="158" height="40"  alt="点击查看更多" /></a></td>
  </tr>
</table>
<br />

</div>
</div>

</div>
<!--中右结束 -->


<div class="r238">
<div class="n_title"><p><a href="/Article/news/" target="_blank">官方动态</a></p></div>
<ul>
{ZL.Label id="首页_官方动态" ShowNum="6" TitleNum="34" /}
</ul>
<div class="n_title"><p><a href="/case/" target="_blank">最新案例</a></p></div>
<ul>
{ZL.Label id="查询指定节点ID下信息列表_不带时间" ShowNum="6" TitleNum="34" NodeID="9" /}
</ul>
<div class="n_title"><p><a href="/corp/media/" target="_blank">媒体报道</a></p></div>
<ul>
{ZL.Label id="查询指定节点ID下信息列表_不带时间" ShowNum="6" TitleNum="34" NodeID="21" /}
</ul>
<div class="n_title"><p><a href="/Project/" target="_blank">专业解决方案</a></p></div>
<ul>
{ZL.Label id="查询指定节点ID下信息列表_不带时间" ShowNum="6" TitleNum="34" NodeID="21" /}
</ul>
<Select onChange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size=1 name=select8>
<Option  selected>友情链接站点</Option>
{ZL.Label id="首页友情链接"/}
</Select>
</div>
<!--right end -->


</div>

</div>
<!--中部主体结束 -->



{ZL.Label id="新版网站底部"/}

<DIV id=floatTools class=float0831>
<DIV class=floatL><A id=aFloatTools_Show class=btnOpen title=查看在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.zoomla.cn'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" 
href="javascript:void(0);">展开</A>
 <A  style="DISPLAY: none" id=aFloatTools_Hide class=btnCtn title=关闭在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.zoomla.cn'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" 
href="javascript:void(0);">收缩</A> </DIV>
  <DIV id=divFloatToolsView class=floatR style="display:none;">
    <DIV class=tp></DIV>
    <DIV class=cn>
      <UL>
        <LI class=top>
          <H3 class=titZx>QQ咨询</H3>
        </LI>
        <!--<LI><SPAN class=icoZx>在线咨询</SPAN> </LI>-->
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=184886758&amp;site=qq&amp;menu=yes">京沪苏粤售前</A> </LI>
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1799661890&amp;site=qq&amp;menu=yes">软件授权售前</A> </LI>
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=228388629&amp;site=qq&amp;menu=yes">高端订制售前</A> </LI>
        <LI class=bot><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1579153275&amp;site=qq&amp;menu=yes">教育系统集成</A> </LI>
      </UL>
      <UL class=webZx>
        <LI class=webZx-in><A href="/corp/about/83.shtml" target="_blank" style="FLOAT: left" title="查看更多联系方式"><IMG src="/Template/office/style/images/right_float_web.png" alt="网页咨询"></A> </LI>
      </UL>
      <UL>
        <LI>
          <H3 class=titDh>电话咨询</H3>
        </LI>
        <LI><SPAN class=icoTl>13177777714</SPAN> </LI>
        <LI class=bot>
          <H3 class=titDc><A href="/pub/" target="_blank">免费下载逐浪CMS</A></H3>
        </LI>
      </UL>
    </DIV>
  </DIV>
</DIV>
<div class="Micro">
  <div class="Micro_r"> <img src="/Template/office/style/images/Micro.gif"   class="tigger" id="Micro1" alt="微信" onMouseMove="Micro()" /> </div>
  <div id="Micro_l" style="display:none;"   onMouseMove="Micro()" onMouseout="Micro_none()" >
    <div class="Mic_l"> <img src="/Template/office/style/images/Big_Micro.jpg" /></div>
    <div class="Mic_r">
      <ul>
        <li>打开微信:</li>
        <li>1.或选择魔术棒,扫一扫</li>
        <li>2.或选择"朋友们",扫一扫</li>
        <li>3.或查找微信号:逐浪CMS</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/jquery.bi.js"></script> 
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script> 