html,body {
	padding-right: 0px; padding-left: 0px; font-size: 12px; background: #323232; padding-bottom: 0px; margin: 0px; color: #606668; padding-top: 0px; font-family: Verdana, Arial, Helvetica, sans-serif,"ו";height:100%;
}
form {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
img {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px
}
input {
	vertical-align: middle
}
ul {
	list-style-type: none
}
ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
li {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
ol {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px 0px 0px 25px; padding-top: 0px
}
a {
	color: #606668; text-decoration: none
}
a:hover {
	color: #3b3b3b; text-decoration: none
}
body {
	font-size: 12px
}
td {
	font-size: 12px
}
p {
	font-size: 12px
}
select {
	font-size: 12px
}
input {
	font-size: 12px
}
textarea {
	font-size: 12px
}
h1 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
h2 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
h3 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
h4 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
h5 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
h6 {
	padding-right: 0px; padding-left: 0px; font-size: 12px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
.top_div {
	height:40px;
}
.content_bg {
	padding-right: 22px; padding-left: 22px; background: url(/skin/default/Project/bg.gif) repeat-y; margin: auto; width: 936px;
}
.content_bg2 {
	padding-right: 22px; padding-left: 22px; background: url(/skin/default/Project/bg.gif) repeat-y; margin: auto; width: 936px; height: 750px;
}
.hide_bar {
	background-color: #0A0A0A;height:13px;width:980px;margin: auto;
}
.top_block{
	background: url(/skin/default/Project/top_bg.jpg) repeat-x;height:84px;
}
.clear {
	CLEAR: both
}
.head_search {
	float: right; margin: 20px 5px 0px 0px; width: 300px; color: #3f3f3f; text-align: right
}
.default_main a {
	color: #203D69; text-decoration: underline
}
.default_main a:hover {
	color: #3391cf; text-decoration: underline
}
.nav {
	background: url(/skin/default/Project/menu_bg.jpg) repeat-x;height: 48px
}
.nav a {
	display: block
}
.nav div {
	float: left;
}
.nav .menu_main a {
	background: url(/skin/default/Project/menu_b1.jpg) no-repeat; width: 120px; height: 30px;text-align: center;padding-top:15px;padding-left:3px;color: #ffffff;
}
.nav .menu_main a:hover {
	background: url(/skin/default/Project/menu_b2.jpg) no-repeat; width: 120px; height: 30px;text-align: center;padding-top:15px;padding-left:3px;color: #203D69;font-weight: bold;
}
.main_block {
	float: right; width: 743px;
}
.kv {
	width: 743px;height:184px;padding-bottom:7px;
}
.symbol {
	width: 743px;height:364px;padding-bottom:7px;
}
.hangye {
	width:743px;height:176px;overflow:hidden;padding-bottom:10px;
}
.contentner {
	padding-top:7px;padding-bottom:20px;background-color:#F5F5F5;width:743px;margin-bottom:7px;
}
.path {
	height:30px;padding-top:4px;background:url(/skin/default/Project/path_bg.jpg) #F5F5F5 repeat-x;margin-left:20px;margin-right:20px;
}
.content {
	padding-top:7px;padding-left:20px;padding-right:20px;line-height: 18px;
}
.search_tit_bg {
	background: url(/skin/default/Project/search_tit_bg.jpg) repeat-x; height: 30px
}
.search_tit_bg div {
	float: left
}
.actTag {
	float: left; cursor: pointer; line-height: 30px;font-weight: bold; background: #767676 url(/skin/default/Project/search_tit_bg1.gif) no-repeat; color: #ffffff; height: 30px;
}
.actTag span {
	padding-right: 12px; display: block; padding-left: 12px; padding-bottom: 0px; padding-top: 0px;background: url(/skin/default/Project/search_tit_bg2.gif) no-repeat right 50%;
}
.tag {
	float: left; cursor: pointer; line-height: 30px;font-weight: bold; color: #1A3B70;
}
.tag span {
	padding-right: 12px; display: block; padding-left: 12px; padding-bottom: 0px; padding-top: 0px
}
.content1 {
	border-right: #E5E5E5 3px solid; padding-right: 15px; margin-top: 10px; padding-left: 15px; background: url(/skin/default/Project/content1_top.jpg) no-repeat 50% top; padding-bottom: 10px; border-left: #E5E5E5 3px solid; line-height: 24px; padding-top: 15px;
}
.content1_food {
	background: url(/skin/default/Project/content1_buttom.gif) no-repeat 50% bottom; margin-bottom: 17px; height: 22px
}
.tit_blue {
	margin-top: 2px; padding-left: 4px; font-weight: bold; font-size: 14px; color: #1D4D95; line-height: 28px
}
.hide {
	display: none;
}
.subMenu a {
	display: block
}
.subMenu .sub a {
	background: url(/skin/default/Project/bt_bg_jb2.gif) no-repeat; width: 163px; height: 28px;padding-top:6px;padding-left:18px;color: #000000;font-weight: bold;
}
.subMenu .sub a:hover {
	background: url(/skin/default/Project/menu_li_hover.gif) no-repeat; width: 163; height: 28px;padding-top:6px;padding-left:18px;color: #243563;font-weight: bold;
}
.subMenu .sub2 a {
	background: url(/skin/default/Project/bt_bg_jb2.gif) no-repeat; width: 153px; height: 28px;padding-top:6px;padding-left:32px;color: #000000;font-weight: bold;
}
.subMenu .sub2 a:hover {
	background: url(/skin/default/Project/menu_li_hover.gif) no-repeat; width: 153; height: 28px;padding-top:6px;padding-left:32px;color: #243563;font-weight: bold;
}
.subMenu2{
	width: 185px;
	height: 684px;
	background-image: url(/skin/default/Project/menu_food.gif);
}
.food_div {
	background: url(/skin/default/Project/fooddiv_bg.jpg) #323232 no-repeat; margin: auto; width: 980px; color: #8e8e8e; line-height: 18px; padding-top: 25px; height: 47px; text-align: center
}
.food_div A {
	font-weight: bold; color: #8e8e8e; text-decoration: none
}
.food_div A:hover {
	color: #8e8e8e; text-decoration: underline
}
.content1 li
{ width:260px; display: block; list-style-type: none; background-image: url(/skin/default/Project/mark_1.gif); background-repeat: no-repeat; text-align: left; text-indent: 26px; background-position: left center; margin-top: 10px; }