@charset "utf-8";
/* Powered by Zoomla!逐浪CMS*/
*{ margin:0px; padding:0px;}
body{ margin:0px; padding:0px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
ul,li{ margin:0px; padding:0px; list-style:none;}
img { border:none;}
a {text-decoration:none; color:#000;}
a:hover{ text-decoration:none; color:#f00}
.clear{ clear:both;}

#main{width:960px; margin:0px auto; clear:both;}

#main{margin-top:20px;}
#left{width:234px; float:left;}
#left #menu0 a{display:block;width:234px; height:240px; background:url(images/pic1.jpg) no-repeat; }
#left #menu0 a:hover{display:block;width:234px; height:240px; background:url(images/pic1_s.jpg) no-repeat;}

#left #menu1 a{width:234px; height:242px; background:url(images/pic2.jpg) no-repeat; display:block;}
#left #menu1 a:hover{width:234px; height:242px; background:url(images/pic2_s.jpg) no-repeat;}

#left #menu2 a{width:234px; height:245px; background:url(images/pic3.jpg) no-repeat; display:block;}
#left #menu2 a:hover{width:234px; height:245px; background:url(images/pic3_s.jpg) no-repeat;}

#mid{width:239px; float:left;}
#top{width:229px; height:200px; padding-top:282px; padding-right:10px; color:#FFFFFF; background-color:#0137CB; font-family:"微软雅黑";}
#top h1{font-size:49px; font-weight:normal; float:right;}
#top h2{font-size:24px; font-weight:normal; float:right;}
#top p a{float:right; color:#FFFFFF; margin-top:10px;}
#box{width:239px; height:245px; border-right:#E2E2E2 1px solid; border-bottom:#E2E2E2 1px solid;}
#box ul{float:right; margin-right:15px;}
#box li a{ height:24px;line-height:24px;color:#333333;}
#box li a:hover,#top p a:hover{color:#FF0000;}

.cc a{color:#0F6; background:#00F;}


#middle{float:left; width:235px;}
#middle #m0{width:235px; height:240px; border-top:#E2E2E2 1px solid; border-right:#E2E2E2 1px solid;}
#middle #m1 a{width:235px; height:242px; background:url(images/pic4.jpg) no-repeat; display:block;}
#middle #m1 a:hover{width:235px; height:242px; background:url(images/pic4_s.jpg) no-repeat;}
#middle #m2{width:235px; height:245px; border-bottom:#E2E2E2 1px solid;}

#right{width:234px; float:left;}
#right #M0{width:234px; height:240px; border-top:#E2E2E2 1px solid; border-right:#E2E2E2 1px solid; border-bottom:#E2E2E2 1px solid;}
#right #M1{width:234px; height:242px; border-right:#E2E2E2 1px solid;}
#right #M2 a{width:234px; height:242px; background:url(images/pic5.jpg) no-repeat; display:block;}
#right #M2 a:hover{width:234px; height:242px; background:url(images/pic5_s.jpg) no-repeat;}