{ZL.Source id="栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="/Design/h5/css/swiper-3.3.1.min.css" rel="stylesheet" />
<script src="/Design/h5/js/swiper-3.3.1.min.js"></script>
<script src="/js/scrolltopcontrol.js"></script>
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" type="text/css" />
<style>
.helpCent_foot { margin-top:0;}
.MYbottom { display:none;}
.home_yindao_b { position:fixed; top:0; bottom:0; left:0; right:0;}
.home_yindao_c { position:fixed; }
</style>
</head>
<body class="case_body">
<div class="case_top">
<nav class="navbar navbar-default navbar-fixed-top case_nav" id="case_nav">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$CssDir/}/images/logo_w.svg" alt="{$SiteName/}" /></a>
<h1><a href="/case/">案例中心</a></h1>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/">首页</a></li>
<li><a href="/product/">纵览</a></li>
<li><a href="/shop/">产品</a></li>
<li><a href="/case/">案例</a></li>
<li><a href="/Project/">方案</a></li>
<li><a href="http://v.z01.com/mb/" target="_blank">模板</a></li>
<li><a href="/demo/">体验</a></li>
<li><a href="http://bbs.z01.com/" target="_blank">技术</a></li>
<li><a href="http://v.z01.com/H5/" target="_blank">H5</a></li>
<li><a href="http://v.z01.com/jz/" target="_blank">微建站</a></li>
<li><a href="/pub/" target="_blank">下载逐浪CMS</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!--导航结束-->

<div class="case_top_s">
<!-- Swiper -->
<div class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide case_top_s1">
<div class="container case_top_m">
<div class="case_top_mt">让开发回归本真</div>
<p>从电商、医疗、到平台服务,万余家公司正在使用<span>Zoomla!逐浪<sup><i class="fa fa-trademark"></i></sup>CMS</span>。</p>
</div>
</div>
<div class="swiper-slide case_top_s2">
<div class="container case_top_m">
<div class="case_top_mt">专注-做最优秀的内核</div>
<p>低调，只做核心WEB解决方案-为广大前端和集成商提供<span>卓越</span>的开发框架。</p>
</div>
</div>
<div class="swiper-slide case_top_s3">
<div class="container case_top_m">
<div class="case_top_mt">中国互联网的鲁班</div>
<p>发明轮子，并不断改进它，提供移动互联网时代具备超<span>鲁棒性</span>的Web内核软件。</p>
</div>
</div>
<div class="swiper-slide case_top_s4">
<div class="container case_top_m t">
<div class="case_top_mt">为企业注入成长基因</div>
<p>融聚OA、BI和大数亿分析，专注于<span>生产力</span>平台，引领中国Web软件成长。</p>
</div>
</div>
</div>
<!-- Add Pagination -->
<div class="swiper-pagination hidden"></div>
<!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
</div>
<!--case_top_m end-->

</div>
<!--case_top end-->



<div class="case_top_b">
<div class="case_top_bt">
<div class="container">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">精选案例</a></li>
<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">行业案例</a></li>
</ul>
</div>
</div>
<!--case_top_bt end-->
<div class="container case_top_bc">
<!-- Tab panes -->
<div class="tab-content">


<div role="tabpanel" class="tab-pane active" id="home">
<ul>
<li><a href="/product/FuncList/" target="_blank"><i class="fa fa-building fa-3x"></i><br/>产品功能清单</a></li>
<li><a href="/demo/" target="_blank"><i class="fa fa-send fa-3x"></i><br/>体验中心</a></li>
<li><a href="/yun/" target="_blank"><i class="fa fa-skyatlas fa-3x"></i><br/>逐浪云</a></li>
<li><a href="/updata/" target="_blank"><i class="fa fa-cog fa-3x"></i><br/>更新通报</a></li>
<li><a href="/m/" target="_blank"><i class="fa fa-mobile fa-3x"></i><br/>移动平台</a></li>
<li><a href="http://www.ziti163.com/Class_16/NodePage.aspx" target="_blank"><i class="fa fa-font fa-3x"></i><br/>逐浪字库</a></li>
<li><a href="/corp/video/" target="_blank"><i class="fa fa-tv fa-3x"></i><br/>官方视频</a></li>
<li><a href="/corp/music/" target="_blank"><i class="fa fa-music fa-3x"></i><br/>企业歌曲</a></li>
</ul>
<div class="clearfix"></div>
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="159" ShowNum="20" EliteLevel="1" /}
<!--一个切换屏结束-->
</div>

<div role="tabpanel" class="tab-pane fade out" id="profile">
<ul>
<li class="active"><a href="#case1" id="home-tab" role="tab" data-toggle="tab" aria-controls="case1" aria-expanded="true"><span><img src="{$CssDir/}images/case_img1.svg" alt="政府" /></span>政府</a></li>
<li><a href="#case2" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img5.svg" alt="教育" /></span>教育</a></li>
<li><a href="#case3" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img4.svg" alt="企业" /></span>企业</a></li>
<li><a href="#case4" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img6.svg" alt="外企" /></span>外企</a></li>
<li><a href="#case5" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img3.svg" alt="医疗" /></span>医疗</a></li>
<li><a href="#case6" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img2.svg" alt="电商" /></span>电商</a></li>
<li><a href="#case7" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img8.svg" alt="公益" /></span>公益</a></li>
<li><a href="#case8" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span><img src="{$CssDir/}images/case_img7.svg" alt="其它" /></span>其它</a></li>
</ul>
<div class="clearfix"></div>

<div class="container tab-content case_list">
<div role="tabpanel" class="tab-pane fade active in" id="case1" aria-labelledby="home-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="10" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case2" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="11" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->

<div role="tabpanel" class="tab-pane fade" id="case3" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="40" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case4" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="12" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case5" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="156" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case6" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="157" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case7" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="158" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
<div role="tabpanel" class="tab-pane fade" id="case8" aria-labelledby="profile-tab">
{ZL.Label id="2017案例中心_按节点ID抽取推荐值" NodeID="42" ShowNum="20" EliteLevel="1" /}
</div><!--一个切换屏结束-->
</div>


</div>
</div>
</div>



<div class="case_footer">
<div class="container case_footer_t">
<a href="/pub/" target="_blank" class="btn btn-info">免费下载逐浪CMS开发门户与移动应用</a> <a href="/case/listpage.shtml" target="_blank"><i class="fa fa-exclamation-circle"></i></a>
<a href="http://v.z01.com" target="_blank" class="btn btn-link">不想下载？我们还有基于云技术的动力逐浪速建站+|></a>
</div>
</div>

<div class="helpCent_foot case_bottom">
{ZL.Label id="响应式网站底部"/}
</div>


</div>
<!--case_top_b end-->


<div class="home_yindao">
<div class="home_yindao_b"></div>
<div class="home_yindao_c">
<!--<div class="home_yindao_cl"><a href="javascript:;" class=""><i class="fa fa-check"></i></a></div>-->
<div class="home_yindao_cm"><a href="javascript:;"><img src="/UploadFiles/images/2017case.png" alt="逐浪CMS案例库申明" /></a></div>
</div>
</div>

</body>
</html>
<script src="/JS/Modal/APIResult.js"></script>
<script>
//手机下菜单效果
$(function() {
  $('.case_nav button.navbar-toggle').click(function(){ 
    $('body').toggleClass('out');
    $('nav.case_nav').toggleClass('out');
    if ($('body').hasClass('out')) {
      $(this).focus();
    } else {
      $(this).blur();
    }
  });
});

$(document).click(function(e) {
  if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
    e.preventDefault();
    $('.case_nav button.navbar-toggle').trigger('click');
  }
}).keyup(function(e) {
  if (e.keyCode == 27 && $('body').hasClass('out')) {
    $('.case_nav button.navbar-toggle').trigger('click');
  } 
});

var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	paginationClickable: '.swiper-pagination',
	nextButton: '.swiper-button-next',
	prevButton: '.swiper-button-prev',
	spaceBetween: 0,
	effect: 'fade',
	grabCursor: true,
	loop: true,
	keyboardControl:true
});

//弹出确认模态框
$(".home_yindao_b").click(function(){
	$(".home_yindao").hide();
});
$(".home_yindao_cl a").click(function(){
	$(".home_yindao").hide();
});
$(".home_yindao_cm a").click(function(){
	$(".home_yindao").hide();
});

function scroll_news()//滚动updata
{
	$(function () {
		$('#dvmq li').eq(0).fadeOut('slow', function () {
			$(this).clone().appendTo($(this).parent()).fadeIn('slow');
			$(this).remove();
		});
	});
}

//setInterval('scroll_news()', 3000);
//var allnum="";
//var para = {
//	key:'',
//	alias:'caselist',
//	psize:'10',
//	cpage:1,
//	nodeid:9
//}
//$.post("/API/Center.ashx?action=GetCustom",para,function(data){
//	data=APIResult.getModel(data);	
//	if(data.retcode=APIResult.isok){
//		allnum=parseInt(JSON.parse(data.addon).count);
//		if(data.result.length>0){
//			console.log(data.result);
//			var str="";
//			for(var i=0;i<data.result.length;i++){
//				if(data.result[i].defaultpic!=""){
//					str+='<div class="case_list_c"><a href="/Item/'+data.result[i].generalid+'.aspx" title="'+data.result[i].title+'"><div class="case_list_ct" style="background:url({$UploadDir/}'+data.result[i].defaultpic+') center no-repeat; background-size:cover"></div><div class="row"><div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-md-offset-1"><div class="case_list_cc"><div class="case_list_cct"><p>'+data.result[i].synopsis+'</p><hr/></div><div class="case_list_ccb"><img src="{$CssDir/}images/case_logo1.png" alt="'+data.result[i].titles+'" /><span class="pull-right">查看客户案例></span></div></div></div></div></a></div>';
//				}
//				else{
//					str+='<div class="case_list_c"><a href="/Item/'+data.result[i].generalid+'.aspx" title="'+data.result[i].title+'"><div class="case_list_ct"></div><div class="row"><div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-md-offset-1"><div class="case_list_cc"><div class="case_list_cct"><p>'+data.result[i].synopsis+'</p><hr/></div><div class="case_list_ccb"><img src="{$CssDir/}images/case_logo1.png" alt="'+data.result[i].titles+'" /><span class="pull-right">查看客户案例></span></div></div></div></div></a></div>';
//				}
//			}
//			$(".case_list").append(str);
//		}
//	}
//});
//$(window).scroll(function(){
//	if($(window).scrollTop() >= ($(document).height() - $(window).height()-800)){
//		para.cpage++;
//		if(para.cpage*10<allnum){
//			$.post("/API/Center.ashx?action=GetCustom",para,function(data){
//				data=APIResult.getModel(data);	
//				if(data.retcode=APIResult.isok){
//					if(data.result.length>0){
//						console.log(data.result);
//						var str="";
//						for(var i=0;i<data.result.length;i++){
//							if(data.result[i].defaultpic!=""){
//								str+='<div class="case_list_c"><a href="/Item/'+data.result[i].generalid+'.aspx" title="'+data.result[i].title+'"><div class="case_list_ct" style="background:url({$UploadDir/}'+data.result[i].defaultpic+') center no-repeat; background-size:cover"></div><div class="row"><div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-md-offset-1"><div class="case_list_cc"><div class="case_list_cct"><p>'+data.result[i].synopsis+'</p><hr/></div><div class="case_list_ccb"><img src="{$CssDir/}images/case_logo1.png" alt="'+data.result[i].titles+'" /><span class="pull-right">查看客户案例></span></div></div></div></div></a></div>';
//							}
//							else{
//								str+='<div class="case_list_c"><a href="/Item/'+data.result[i].generalid+'.aspx" title="'+data.result[i].title+'"><div class="case_list_ct"></div><div class="row"><div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-md-offset-1"><div class="case_list_cc"><div class="case_list_cct"><p>'+data.result[i].synopsis+'</p><hr/></div><div class="case_list_ccb"><img src="{$CssDir/}images/case_logo1.png" alt="'+data.result[i].titles+'" /><span class="pull-right">查看客户案例></span></div></div></div></div></a></div>';
//							}
//						}
//						$(".case_list").append(str);
//					}
//				}
//			});
//		}
//	}
//});
</script>