{ZL.Source id="栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《大江》-我们的企业歌曲|Zoomla!逐浪CMS-专注研发|打造世界级网站内核管理系统与WEB软件服务体系</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="/dist/css/animate.min.css" rel="stylesheet" />
<link href="{$CssDir/}2014.css" rel="stylesheet" type="text/css" />
</head>
<body class="corpmusic_body">
<div class="corpmusic_top">
<div class="container">
<div class="corpmusic_top_l">
<a href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}" /></a>
<h1>缔就世界级网站内核管理系统</h1>
</div>
<div class="corpmusic_top_r">
<p><a href="/vip/"><strong>ORACLE</strong> 高端计算专区由此进入>></a></p>
<ul>
<li><a href="/server" title="联系专业客服">客服中心</a></li>
<li><a href="/shop/" title="在线购买">商业订购</a></li>
<li><a href="http://www.hx008.com/" target="_blank" title="推荐主机域名服务">主机域名</a></li>
<li><a href="http://edu.zoomla.cn" taget="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
<li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
<li><a href="/help/" title="帮助中心">帮助中心</a></li>
<li><a href="http://ad.zoomla.cn" title="广告代码大全" target="_blank">广告源码</a></li>
</ul>
</div>
</div>
</div>

<div class="relative">
<nav class="navbar navbar-default" id="corpmusic_nav">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand visible-xs" href="/">{$SiteName/}</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/corp/">首页</a></li>
<li><a href="/corp/about/630.shtml">公司介绍</a></li>
<li><a href="/corp/about/631.shtml">团队介绍</a></li>
<li><a href="/pub/">产品下载</a></li>
<li><a href="/corp/media/">媒体报道</a></li>
<li><a href="/corp/about/632.shtml">企业文化</a></li>
<li><a href="/corp/job/">招贤纳仕</a></li>
<li><a href="/photo/ltd/">企业图库</a></li>
<li><a href="/corp/about/83.shtml">联系我们</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>

<div class="container corpmusic_main">
<div class="animated corpmusic_main_t"><img src="{$CssDir/}images/music_hui.png" alt="会聚精英缔就优秀的软件" /></div>
<div class="corpmusic_main_c">
<div class="corpmusic_main_ct visible-xs">
<ul>
<li class="active"><span></span><a href="/corp/music/"><span>领略大江</span><span></span></a></li>
<li><span></span><a href="{ZL:GetNodeListUrl(66)/}"><span>视频欣赏</span><span></span></a></li>
<li><span></span><a href="{ZL:GetLastinfo(66)/}"><span>歌词展播</span><span></span></a></li>
</ul>
</div>
<div class="corpmusic_main_cm">
<div class="corpmusic_main_cmt"><img src="{$CssDir/}images/music.png" alt="" /></div>
<div class="corpmusic_main_cmr hidden-xs">
<ul>
<li><a href="/corp/music/">领略大江</a></li>
<li><a href="{ZL:GetNodeListUrl(66)/}">视频欣赏</a></li>
<li><a href="{ZL:GetLastinfo(66)/}">歌词展播</a></li>
</ul>
</div>
<div class="corpmusic_main_cma">
<audio controls autoplay loop>
<source src="/The_Sea.mp3" type="audio/mpeg" />
您的浏览器不支持 audio 元素。
</audio>
<p>
(<a href="/corp/music/listpage.shtml">点此浏览视频</a>)<br/>
凝聚飞一样的理想－－缔造的是中国一流互联网基础服务!<br />
从小到大,从漠漠无名到引领行业进步,从白手起家到江西唯一通过ISO9001国际质量标准本系认证的WEB开发及IDC基础服务商、在国内拥有较高知名度与行业影响力，出江入海，浦东创业，京师问道。华夏互联发展的同时紧跟最新时尚潮流，也为建设高品位的企业文化，塑造良好的企业形象，进一步提升企业的综合竞争力，增强企业员工的凝聚力、自信心和自豪感，激励全企业员工为创建中国互联网基础服务行业中最具有核心竞争优势的、具有国际水准的公司而努力奋斗，现面向华夏互联公司内外征集企业歌曲歌词。此次活动评选出的最佳歌词将由上海音乐学院专业人士谱曲，专业歌手演唱并作为华夏互联的品牌歌曲。<a href="/corp/music/listpage.shtml">[More]</a>
</p>
</div>
</div>
</div>
</div>



{ZL.Label id="响应式网站底部"/}

</body>
</html>
<script src="{$CssDir/}js/server.js"></script>
<script>
//检测固顶事件
var IO=document.getElementById('corpmusic_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

function scroll_news()//滚动updata
{
	$(function () {
		$('#dvmq li').eq(0).fadeOut('slow', function () {
			$(this).clone().appendTo($(this).parent()).fadeIn('slow');
			$(this).remove();
		});
	});
}
setInterval('scroll_news()', 3000);
</script>