{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/Template/office/style/images/win8_symbol_140x140.png"/>
<title>{SField sid="栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="/template/office/style/animate.min.css" rel="stylesheet"/>
<link href="{$CssDir/}2014.css" rel="stylesheet" />
</head>
<body class="corp2015_login_bg">
<a href="/" class="corp2015_home_index">
<span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa  fa-home fa-stack-1x fa-inverse"></i>
</span>
</a>
<article class="text-center corp2015_login_show">
<a href="listpage.shtml"><img src="{$CssDir/}images/yu.png" alt="App应用与移动门户一体化" class="animated homeb201501" /></a>
</article>
<p class="text-center animated homeb201506"><strong class="ZoomlaXingtiJ3">君子如玉，恒心恒德</strong><br/><a href="listpage.shtml">点此开启基业长青矢志卓越的Zoomla!逐浪软件企业频道<span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
</body>
</html>
<script>
setTimeout("window.location='/corp/listpage.shtml'",20000);
</script>