{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>案例中心_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="/skin/2010/css/global.css" rel="stylesheet" type="text/css" />
<link href="/template/office/style/2012.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/pub.js"></script>
<style>#site{ width:980px; margin:auto; clear:both;}</style>
</head>
<body>
<div id="header_x">
<script type="text/javascript" src="{$AdDir/}/201205/14.js"></script>
<h1>
<a href=/>
<img alt='Zoomla!逐浪CMS官网' id='logos' onerror="this.onerror=null;this.src='/skin/2010/images/logo.jpg'" /></a>
<SCRIPT >
   today = new Date();//取当前日期
   date1 = ''  + (today.getMonth() + 1 ) +  today.getDate() +  '';
document.getElementById("logos").src="/logo/"+date1+".jpg";
  // document.write(date1);//能显示出时间
</SCRIPT>
</h1>
</div>
<div class="pull-right">
<p><a href="/pub/" target="_blank" title="下载最新Zoomla!逐浪CMS程序">最新版本号：<script type="text/javascript" src="{$AdDir/}/201003/8.js"></script>[免费下载]</a></p>
<div class="pull-left">
<form role="search" method="get" action="/Search/SearchList" target="_blank">
<div class="input-group pull-right" style="width:200px;">
<input name="keyword" type="text" value="全站检索" id="TxtKeyword" class="form-control" onclick="setEmpty(this)" onblur="settxt(this)" style="width:150px;" />
<span class="input-group-btn">
<input type="submit" name="ButtonSo" value="搜  索" id="ButtonSo" class="btn btn-default" />
</span>
</div>
</form></div>
</div>
</div>
</div>
</div>
<!--header_x end -->

<div class="naver">
<div id="nav_x">
<div id="menus">
<div id="menuNav">
<ul>
<strong>开启WEB云计算内核之门：</strong>
<li class="on"><a href="/" target="_blank">网站首页</a></li>
<li><a href="/product/" target="_blank">走进逐浪</a></li>
<li><a href="/shop/" target="_blank">产品中心</a></li>
<li class="scuess"><img src="/template/office/style/images/hot.gif" class="hot"><a href="/case/" target="_blank">成功案例</a></li>
<li><a href="/Project/" target="_blank">解决方案</a></li>
<li><a href="http://v.z01.com/mb/" target="_blank">模板中心</a></li>
<li><a href="/pub/" target="_blank">下载产品</a></li>
<li><a href="/demo/" target="_blank">体验中心</a></li>
<li><a href="http://bbs.z01.com" target="_blank">技术社区</a></li>
<li><a href="http://v.z01.com/jz" target="_blank">微建站</a></li>
<li><a href="http://v.z01.com/H5" target="_blank">H5场景</a></li>
</ul>
</div>
{ZL.Label id="可收缩便捷导航"/}
</div>
</div>
<!--nav_x end -->

</div>
<!--头部固定-->
<div id="i_nav">
<p>
<a href="/try/" target="_blank">软件选型:如何选择合适的CMS系统</a>
<a href="/try/cmsnews/" target="_blank">行业纵横:中国CMS行业动态及名单</a>
</p>
<ul>
<li class="biz_log"><a href="/biz/" target="_blank">授权验证</a></li>
<li class="wap_log"><a href="/wap/Default.aspx" target="_blank">手机访问</a></li>
<li class="rss_log"><a href="/rss/Default.aspx" target="_blank">RSS聚合</a></li>
<li class="reg_log"><a href="/user/" target="_blank">用户中心</a></li>
<li class="login_log">{ZL:Big5()/}</li>
</ul>
</div>
<!--小导航菜单结束 -->
<!--顶部结束 -->
 
<div id="site"><span><a class="back_home" href="listpage.shtml">◎选择其它类别</a> <a href="listpage.shtml">More..</a></span><a href="/">当前位置： 首页</a>  >  <a href="/case/">案例中心</a> > 案例列表</div>

<div id="case_back">
<div id="home_cont" class="mqparty-content default" style=" float:right;max-width:1600px;"><!-- 页面一打开，这里就有class名 default，折叠的时候添加class名 fold ，点击展开内容的时候，去掉fold-->
	<!-- box -->
	<ul class="box">
		<li>
        	<div class="handle"></div>
            <div class="wraw-box">   <!--页面切换效果图-->
            	<div class="wraw-pic">
                <!-- scene1_1 -->
                <div class="scene1 scene1_1 com-banner-pic1" >
                    <ul class="banner_list">
                        <li class="banner1_1_1">
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>武汉晶源工科技有限公司与MPT企业</h2>
                        <p>
                        <abbr>实施时间：2006年1月</abbr>
                        <strong>项目概况</strong>:作为中国最优秀的火电与船舶环境解决方案企业，旗下CEPT、MTP、SMTP模跨美国、中国大洋岸，其企业一体化的邮局、门户、软件系统在逐浪CMS上高端运营，为集团化企业发展进供了核心动力……<br/>
                        <strong>项目级别</strong>：★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>江钨集团公司</h2>
                        <p>
                        <abbr>实施时间：2010年4月</abbr>
                        <strong>项目概况</strong>:大型国有企业江钨集团公司经过几十年的积累和发展，在钨、铋、银、锡、钽铌、稀土等有色金属资源开发、冶炼加工以及贸易等方面拥有强劲的竞争优势，并形成了以"坚定信念，不畏艰难，务实创新，和谐发展...。<br/>
                        <strong>项目级别</strong>：★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>美国坐即瘦</h2>
                        <p>
                        <abbr>实施时间：2007年7月</abbr>
                        <strong>项目概况</strong>:美国（坐即瘦）拥有雄厚的实力与技术基础，并构建了面向中国的丰富网络，作为市场领导品牌需要稳固的系统，而基于MSSQL大型数据库的逐浪CMS满足了这一需求……<br/>
                        <strong>项目级别</strong>：★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>尚美佳中国</h2>
                        <p>
                        <abbr>实施时间：2009年2月</abbr>
                        <strong>项目概况</strong>:尚美佳中国是最具规模的房地产全程公司之一，横跨经纪、企划、顾问和传媒四大领域。...<br/><br/>
                        <strong>项目级别</strong>：★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>大都国际影视集团</h2>
                        <p>
                        <abbr>实施时间：2011年6月</abbr>
                        <strong>项目概况</strong>:大都集团是一家集工程建设、矿业投资、电力设备及房地产开发为一体的大型民营企业集团。目前，集团拥有员工总数600余人，资产总额10亿元……<br/>
                        <strong>项目级别</strong>：★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case1.jpg" alt="" />
                        <div class="case_list_r">
                        <h2>盈高国际集团(中国) 有限公司</h2>
                        <p>
                        <abbr>实施时间：2011年8月</abbr>
                        <strong>项目概况</strong>:盈高国际集团基于逐浪CMS的本土化解决方案和国际化软件应用，取得了卓越的成效，推动了稳定的业务成长...<br/><br/>
                        <strong>项目级别</strong>：★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="clear"></div>
                        <div id="case_more"><a href="#" onclick="javascript:alert('Zoomla!逐浪CMS严格遵守客户隐私保护约定与渠道集成商利益，并不会自由公布任何非允案例与项目信息，非认证客户请联系售前工程师获取相关信息，如需申请成为官方案例请致邮web@zoomla.cn，客户售前咨询热线：021-50391046/13177777714')">获取更多案例信息>></a></div>
                        
                        </li>
                        <li class="banner1_1_2"></li>
                        <li class="banner1_1_3"></li>
                        <li class="banner1_1_4">
                   </li>
                    </ul>
                   
                   
                </div>
                <!-- scene1_1 end -->
                <!-- scene1_2 -->
                <div class="scene1 scene1_2 com-banner-pic2">
                    <ul class="banner_list">
                        <li class="banner1_2_1">人<br><br></li>
                        <li class="banner1_2_2"></li>
                        <li class="banner1_2_3"></li>
                        <li class="banner1_2_4"></li>
                    </ul>
                    
                </div>
                <!-- scene1_2 end -->
                <!-- scene1_3 -->
                <div class="scene1 com-banner-pic3">
                    <ul class="banner_list">
                        <li class="banner1_3_1"></li>
                        <li class="banner1_3_2"></li>
                        <li class="banner1_3_3"></li>
                        <li class="banner1_3_4"></li>
                    </ul>
              </div>
                <!-- scene1_3 end -->
                </div>
            </div>
            </li>
            
            
		   <li>
           
                     <ul class="banner_list">
                        <li class="banner1_2_1">
                        
                        
                        
                                                
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>湖南省长沙市财政局</h2>
                        <p>
                        <abbr>实施时间：2012年8月</abbr>
                        <strong>项目概况</strong>:由湖南省财政局直属的项目，作为中国最具活动城市的长沙，其财政工作一直在全国位列前矛，而选择逐浪软件能够为其提供稳定、高效的计算与应用。<br/>
                        <strong>项目级别</strong>：★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>江西省信息产业厅</h2>
                        <p>
                        <abbr>实施时间：2008年3月</abbr>
                        <strong>项目概况</strong>:基于华夏互联的优秀软件研发能力，并以Zoomla!逐浪CMS产品线为核心，提供了官网平台、业务平台、子站群的建设，铺通了工信委平台改版之路。<br/>
                        <strong>项目级别</strong>：★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>南京军区</h2>
                        <p>
                        <abbr>实施时间：2010年10月</abbr>
                        <strong>项目概况</strong>:基于Zoomla!逐浪CMS的开放性广泛被采用于军队门户、高端系统的应用，并赢得了广泛的认同，而开放的平台更是赢得专业级客户的赞赏<br/>
                        <strong>项目级别</strong>：★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>南昌陆军学院</h2>
                        <p>
                        <abbr>实施时间：2008年1月</abbr>
                        <strong>项目概况</strong>:专注技术、专注服务，华夏互联一直为南昌陆军学院科技中心、图书馆、党办等多个部门提供一体化的WEb软件应用体系，深得好评...<br/>
                        <strong>项目级别</strong>：★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>澧县政府网</h2>
                        <p>
                        <abbr>实施时间：2011年6月</abbr>
                        <strong>项目概况</strong>:在逐浪CMS的无数政府客户中，澧县项目的实施，既代表了高性价比的应用典范，又遵循了新互联网发展的道路，给予了良好的规划，堪称楷模……<br/>
                        <strong>项目级别</strong>：★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case2.jpg" alt="政府客户案例" />
                        <div class="case_list_r">
                        <h2>上海海港经济开发区</h2>
                        <p>
                        <abbr>实施时间：2010年2月</abbr>
                        <strong>项目概况</strong>:腾飞的上海、热情洋溢的世博会需要更加优秀的政府形象，Zoomla!逐浪CMS作为国内领先的网站内核商从中脱颖而出，构建了基于3D、立体、多维、功能强大的政府与工业园平台。<br/>
                        <strong>项目级别</strong>：★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="clear"></div>
                        <div id="case_more"><a href="#" onclick="javascript:alert('Zoomla!逐浪CMS严格遵守客户隐私保护约定与渠道集成商利益，并不会自由公布任何非允案例与项目信息，非认证客户请联系售前工程师获取相关信息，如需申请成为官方案例请致邮web@zoomla.cn，客户售前咨询热线：021-50391046/13177777714')">获取更多案例信息>></a></div>
                        
                                              
                        </li>
                        <li class="banner1_2_2"></li>
                        <li class="banner1_2_3"></li>
                        <li class="banner1_2_4"></li>
                    </ul>
           
           
           </li>
           
           
		  <li>
          
                     <ul class="banner_list">
                        <li class="banner1_3_1">

                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>中煤网</h2>
                        <p>
                        <abbr>实施时间：2011年1月</abbr>
                        <strong>项目概况</strong>:大型煤碳行业站群，高端平台建筑视野，专业策划团队全程跟进，实现大型数据的深度挖掘与实时传递，推动传统行业在新兴技术平台上的发展……<br/>
                        <strong>项目级别</strong>：★★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>THE DUKE-GROUP</h2>
                        <p>
                        <abbr>实施时间：2006年10月</abbr>
                        <strong>项目概况</strong>:美国DUKE-GROUP公司选择逐浪CMS软件解决方案，实现了跨国企业在中国无缝的业务扩展和中文化进程...<br/><br/>
                        <strong>项目级别</strong>：★★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>江西商报网</h2>
                        <p>
                        <abbr>实施时间：2007年10月</abbr>
                        <strong>项目概况</strong>:一报知江西-《江西商报》电子报刊、知识门户、宣传平台与软件应用体系依托Zoomla!逐浪CMS取得了丰硕的成果．．．<br/><br/>
                        <strong>项目级别</strong>：★★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>美途网</h2>
                        <p>
                        <abbr>实施时间：2011年7月</abbr>
                        <strong>项目概况</strong>:作为大型旅游门户，如何扩展与各类机票、景点接口、如何使子站、代理间的数据能够快速传递，而Zoomla!逐浪CMS提供了一整套的解决方案，使美途网快速跻身领先行列！<br/>
                        <strong>项目级别</strong>：★★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>香港感恩医院集团</h2>
                        <p>
                        <abbr>实施时间：2012年1月</abbr>
                        <strong>项目概况</strong>:感恩集团的营销团队认为Zoomla!逐浪CMS的优化效果与开发效率以及性能在同行中都是首屈一指的，并赢得了高管的信任，业绩倍增<br/><br/>
                        <strong>项目级别</strong>：★★★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        
                        <div class="case_list">
                        <img src="/Template/office/style/images/case3.jpg" alt="开发者案例" />
                        <div class="case_list_r">
                        <h2>优优网</h2>
                        <p>
                        <abbr>实施时间：2008年10月</abbr>
                        <strong>项目概况</strong>:作为华东地区最具活力与人气的门户平台，优优网依托逐浪CMS实现了基于3G的移动增值、网络电视、电子商务、网络游戏等业务，形成完整赢利模式，突出电脑屏、手机屏、电梯屏、电视屏的“四屏战略"...<br/>
                        <strong>项目级别</strong>：★★★★
                        </p>
                        <a href="#" onclick="javascript:alert('非认证客户请联系售前工程师获取相关信息')">项目详情</a>
                        <a href="/corp/about/83.shtml" target="_blank" title="联系我们的专业售前工程师确定造型与购买软件或服务">售前咨询</a>
                        <a href="http://www.zoomla.cn/pub" target="_blank" style="width:150px;" title="免费下载功能强大的Zoomla!逐浪CMS构建您想要的平台^_^">免费下载Zoomla!逐浪CMS</a>
                        </div>
                        </div><!--案例之一 -->
                        
                        <div class="clear"></div>
                        <div id="case_more"><a href="#" onclick="javascript:alert('Zoomla!逐浪CMS严格遵守客户隐私保护约定与渠道集成商利益，并不会自由公布任何非允案例与项目信息，非认证客户请联系售前工程师获取相关信息，如需申请成为官方案例请致邮web@zoomla.cn，客户售前咨询热线：021-50391046/13177777714')">获取更多案例信息>></a></div>
                        
                        </li>
                        <li class="banner1_3_2"></li>
                        <li class="banner1_3_3"></li>
                        <li class="banner1_3_4"></li>
                    </ul>

          
           </li>
	</ul>
    <div style="clear:both; height:0; overflow:hidden;"></div>
	<!--Start trigger-->
	<div class="trigger" id="iphone">
		<div class="trigger_bg1"></div>
		<div class="trigger_bg2"></div>
		<div class="trigger_bg3"></div>
        <div class="track" id="lock">
        <span class="circle"></span>
        </div>
  
	</div>
 </div>
 
 
 <div class="clear"></div>
</div>

{ZL.Label id="新版网站底部"/}

<script type="text/javascript" src="/Template/office/style/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/Template/office/style/js/jquery.hrzAccordion.js"></script>
<script type="text/javascript" src="/Template/office/style/js/jquery.hrzAccordion.examples.js"></script>
<script type="text/javascript" src="/Template/office/style/js/slider.js"></script>
 </body>
</html>

<script type="text/javascript" src="/Template/office/style/js/jquery.bi.js"></script> 
<script type="text/javascript" src="/skin/2010/js/ajax.js"></SCRIPT>
<script type="text/javascript">
$ID = function(el){
	return document.getElementById(el);
};

function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script> 