{ZL.Source id="栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<title>逐浪CMS家族产品体验中心_{$SiteTitle/}</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
<script type="text/javascript" src="/js/pub.js"></script>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/skin/2010/js/v4.js"></script>
</head>
<body>
{ZL.Label id="2016响应式网站头部"/}

<div class="demo2016_banner">
<div class="container">
<h2>稳定、高效、灵活、鲁棒</h2>
<abbr>逐浪&reg;CMS是移动互联网时代强大的门户与信息化构建工具</abbr>
<a href="/pub/" class="btn btn-primary">立即下载</a><a href="http://v.z01.com/" target="_blank" class="btn btn-link">[动力版-专注于云与移动的CMS平台]</a>
</div>
</div>


<div class="container demo2016_link">
<div class="demo2016_title">恭请您速体验逐浪软件：</div>
<ul>
	<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="demo2016_linka">
    <p><a href="http://demo.z01.com" target="_blank"><i class="fa fa-laptop"></i></a></p>
    Demo演示站测试体验通道<br/>
    <a href="http://demo.z01.com" target="_blank">[标准版]Demo.z01.com</a><br/>
    <a href="http://demo1.z01.com" target="_blank">[风格版]Demo1.z01.com</a><br/>
    </div>
    </li>
	<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="demo2016_linka">
    <p><a href="http://demo.z01.com/admin/login.aspx" target="_blank"><i class="fa fa-cog"></i></a></p>
    后台体验(快速申请)<br/>
    <a href="http://demo.z01.com/admin/login.aspx" target="_blank">Demo.z01.com/admin/login.aspx</a>
    </div>
    </li>
	<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="demo2016_linka">
    <p><a href="http://v.z01.com/mb/" target="_blank"><i class="fa fa-tachometer"></i></a></p>
    模板中心(云模板免费共享）<br/>
    <a href="http://v.z01.com/mb/" target="_blank">v.z01.com/mb</a>
    </div>
    </li>
</ul>
</div>

<div class="demo2016_link3">
<div class="container">
<ul>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
<a href="http://demo.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa  fa-tv"></i>
Zoomla!逐浪CMS标准版
</div></a>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a href="http://qiye.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa fa-map-o"></i>
Zoomla!逐浪CMS企业版
</div></a>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a href="http://stu.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa  fa-bank"></i>
Zoomla!逐浪CMS教育版
</div></a>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a href="http://gov.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa fa-modx"></i>
Zoomla!逐浪CMS政府版
</div></a>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a href="http://mall.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa fa-cart-plus"></i>
Zoomla!逐浪CMS网店系统
</div></a>
</li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<a href="http://shop.z01.com" target="_blank"><div class="demo2016_link2_kuai">
<i class="fa fa-shopping-bag"></i>
Zoomla!逐浪CMS商城系统
</div></a>
</li>
</ul>
</div>
</div>
<!--demo2016_link3 end-->

<div class="container demo2016_link2">
<div class="demo2016_title">行业应用体验：</div>
<div class="demo2016_title_abbr"><a href="/corp/about/83.shtml" target="_blank">请原谅我们不能提供所有演示或联络售前工程师</a></div>
 
<ul class="nav nav-tabs" role="tablist">
<li class="active"><a href="javascript:;" onClick="ShowType(this,'');">全部体验实例</a></li>
<li><a href="javascript:;" onClick="ShowType(this,'a1');">门户网站</a></li>
<li><a href="javascript:;" onClick="ShowType(this,'a2');">移动应用</a></li>
<li><a href="javascript:;" onClick="ShowType(this,'a3');">微信开发</a></li>
<li><a href="javascript:;" onClick="ShowType(this,'a4');">智能办公</a></li>
<li><a href="javascript:;" onClick="ShowType(this,'a5');">大数据平台建设</a></li>
</ul>


<ul class="demo2016_link2_ul">
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a1">
<div class="demo2016_link2_case">
<a href="http://sites.z01.com" target="_blank"><img src="{$CssDir/}/images/2016demo00.png" alt="" /></a>
<h4>逐浪站群门户演示</h4>
<a href="http://sites.z01.com" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a1">
<div class="demo2016_link2_case">
<a href="http://gov.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo01.png" alt="" /></a>
<h4>逐浪政府门户演示</h4>
<a href="http://gov.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>


<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a1">
<div class="demo2016_link2_case">
<a href="http://site.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo02.png" alt="" /></a>
<h4>逐浪政府军工门户演示</h4>
<a href="http://site.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>


<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a4">
<div class="demo2016_link2_case">
<a href="http://gov1.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo03.png" alt="" /></a>
<h4>政府与办事服务平台门户网站演示</h4>
<a href="http://gov1.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://gov2.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo04.png" alt="" /></a>
<h4>国家部委政府门户演示</h4>
<a href="http://gov2.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>


<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a4">
<div class="demo2016_link2_case">
<a href="/Oas" target="_blank"><img src="{$CssDir/}/images/2016demo05.png" alt="" /></a>
<h4>OA在线办公系统演示</h4>
<a href="/Oas" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://pano.z01.com" target="_blank"><img src="{$CssDir/}/images/2016demo06.png" alt="" /></a>
<h4>三维全景系统演示</h4>
<a href="http://pano.z01.com" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://demo.z01.com/User/Exam/QuestionManage" target="_blank"><img src="{$CssDir/}/images/2016demo07.png" alt="" /></a>
<h4>智能组卷系统演示</h4>
<a href="http://demo.z01.com/User/Exam/QuestionManage" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://demo.z01.com/dai/" target="_blank"><img src="{$CssDir/}/images/2016demo08.png" alt="" /></a>
<h4>在线仿真试戴系统演示</h4>
<a href="http://demo.z01.com/dai/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a1">
<div class="demo2016_link2_case">
<a href="http://yi.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo09.png" alt="" /></a>
<h4>三甲医院门户+OA演示</h4>
<a href="http://yi.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a1">
<div class="demo2016_link2_case">
<a href="http://auto.z01.com/" target="_blank"><img src="{$CssDir/}/images/2016demo10.png" alt="" /></a>
<h4>汽车门户演示</h4>
<a href="http://auto.z01.com/" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://www.ziti163.com" target="_blank"><img src="{$CssDir/}/images/2016demo11.png" alt="" /></a>
<h4>字体智能生成解决方案</h4>
<a href="http://www.ziti163.com" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a5">
<div class="demo2016_link2_case">
<a href="http://www.hx008.com" target="_blank"><img src="{$CssDir/}/images/2016demo12.png" alt="" /></a>
<h4>IDC行业应用平台演示</h4>
<a href="http://www.hx008.com" target="_blank"><i class="fa fa-eye"></i>浏览体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a3">
<div class="demo2016_link2_case">
<a href="#"><img src="{$CssDir/}/images/2016demo13.png" alt="" /></a>
<h4>名课堂教育分销与线上学习</h4>
<a href="#"><i class="fa fa-qrcode"></i> 扫码体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a3">
<div class="demo2016_link2_case">
<a href="#"><img src="{$CssDir/}/images/2016demo14.png" alt="" /></a>
<h4>多商户微营销与点餐O2O</h4>
<a href="#"><i class="fa fa-qrcode"></i> 扫码体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a3">
<div class="demo2016_link2_case">
<a href="#"><img src="{$CssDir/}/images/2016demo15.png" alt="" /></a>
<h4>通路产品与女性内衣微商</h4>
<a href="#"><i class="fa fa-qrcode"></i> 扫码体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a3">
<div class="demo2016_link2_case">
<a href="#"><img src="{$CssDir/}/images/2016demo16.png" alt="" /></a>
<h4>线上商超与三级分销</h4>
<a href="#"><i class="fa fa-qrcode"></i> 扫码体验</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a2">
<div class="demo2016_link2_case">
<a href="/m/" target="_blank"><img src="{$CssDir/}/images/2016demo17.png" alt="" /></a>
<h4>聚惠宝APP</h4>
<a href="/m/" target="_blank"><i class="fa fa-eye"></i>浏览专题</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a2">
<div class="demo2016_link2_case">
<a href="/m/" target="_blank"><img src="{$CssDir/}/images/2016demo18.png" alt="" /></a>
<h4>人人校友APP</h4>
<a href="/m/" target="_blank"><i class="fa fa-eye"></i>浏览专题</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a2">
<div class="demo2016_link2_case">
<a href="/m/" target="_blank"><img src="{$CssDir/}/images/2016demo19.png" alt="" /></a>
<h4>智农网APP</h4>
<a href="/m/" target="_blank"><i class="fa fa-eye"></i>浏览专题</a>
</div>
</li>

<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6" data-type="a2">
<div class="demo2016_link2_case">
<a href="/m/" target="_blank"><img src="{$CssDir/}/images/2016demo20.png" alt="" /></a>
<h4>智慧民生APP</h4>
<a href="/m/" target="_blank"><i class="fa fa-eye"></i>浏览专题</a>
</div>
</li>
</ul>
</div>


<div class="container demo2016_foot">
<div class="demo2016_title">我们可以如何帮助到您？</div>
<div class="demo2016_title_abbr">选择一个方式获得想要的帮助</div>
<ul>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
<a href="http://help.z01.com" target="_blank"><i class="fa fa-file-powerpoint-o"></i>
<strong>开发文档</strong>
你可以通过开学文档学习如何快速使用逐浪CMS</a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
<a href="/mtv"><i class="fa fa-file-video-o"></i>
<strong>视频教程</strong>
官方出品的视频教程，形象生动的讲解了网站和移动平台构建的过程
</a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
<a href="/help/"><i class="fa fa-question-circle"></i>
<strong>常见问题</strong>
开发与使用过程中遇到问题，可以尝试在这里找到解决方案
</a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
<a href="/blog"><i class="fa fa-comments"></i>
<strong>BLOG</strong>
浏览来看逐浪软件官方团队分享的技术文章和研发动态</a>
</li>
</ul>
</div>
<!--中部主体结束 -->

{ZL.Label id="响应式网站底部"/}
<!--客服代码开始 -->
<DIV id=floatTools class=float0831>
          <DIV class=floatL><A id=aFloatTools_Show class=btnOpen title=查看在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.z01.com'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" 
href="javascript:void(0);">展开</A> <A  style="DISPLAY: none" id=aFloatTools_Hide class=btnCtn title=关闭在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.z01.com'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" 
href="javascript:void(0);">收缩</A> </DIV>
          <DIV id=divFloatToolsView class=floatR style="display:none;">
    <DIV class=tp></DIV>
    <DIV class=cn>
              <UL>
        <LI class=top>
                  <H3 class=titZx>QQ咨询</H3>
                </LI>
        <!--<LI><SPAN class=icoZx>在线咨询</SPAN> </LI>-->
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=184886758&amp;site=qq&amp;menu=yes">京苏沪粤售前</A> </LI>
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1799661890&amp;site=qq&amp;menu=yes">软件授权售前</A> </LI>
        <LI><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=228388629&amp;site=qq&amp;menu=yes">高端订制售前</A> </LI>
        <LI class=bot><A class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1579153275&amp;site=qq&amp;menu=yes">教育系统集成</A> </LI>
      </UL>
              <UL class=webZx>
        <LI class=webZx-in><A href="/corp/about/83.shtml" target="_blank" style="FLOAT: left" title="查看更多联系方式"><IMG src="{$CssDir/}/images/right_float_web.png" alt="网页咨询"></A> </LI>
      </UL>
              <UL>
        <LI>
                  <H3 class=titDh>电话咨询</H3>
                </LI>
        <LI><SPAN class=icoTl>13177777714</SPAN> </LI>
        <LI class=bot>
          <H3 class=titDc><A href="/pub/" target="_blank">免费下载逐浪CMS</A></H3>
        </LI>
      </UL>
       </DIV>
  </DIV>
</DIV>

<div class="Micro">
  <div class="Micro_r"> <img src="{$CssDir/}/images/Micro.gif"   class="tigger" id="Micro1" alt="微信" onMouseMove="Micro()" /> </div>
  <div id="Micro_l" style="display:none;"   onMouseMove="Micro()" onMouseout="Micro_none()">
    <div class="Mic_l"> <img src="{$CssDir/}/images/Big_Micro.jpg" /></div>
    <div class="Mic_r">
      <ul>
        <li>打开微信:</li>
        <li>1.或选择魔术棒,扫一扫</li>
        <li>2.或选择"朋友们",扫一扫</li>
        <li>3.或查找微信号:逐浪CMS</li>
      </ul>
    </div>
  </div>
</div>
<!--客服代码结束 -->

</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<script>
//检测固顶事件
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
 //]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

//搜索关键字
function setEmpty(obj) {
	if (obj.value == "全站检索") {
		obj.value = "";
	}
}
function settxt(obj) {
	if (obj.value == "") {
		obj.value = "全站检索";
	}
}

function scroll_news()//滚动updata
{
	$(function () {
		$('#dvmq li').eq(0).fadeOut('slow', function () {
			$(this).clone().appendTo($(this).parent()).fadeIn('slow');
			$(this).remove();
		});
	});
}
setInterval('scroll_news()', 3000);

$().ready(function(e) {
    $("#menu_20").addClass("active");
});

//滑动门筛选
function ShowType(obj,type)
{
	$(obj).parent().addClass("active");
	$(obj).parent().siblings("li").removeClass("active");
	if(type!="")
	{
		$(".demo2016_link2_ul li[data-type!='']").hide();
		$(".demo2016_link2_ul li[data-type='"+type+"']").show();
	}
	else
		$(".demo2016_link2_ul li[data-type!='']").show();
}
</script>