<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/Template/office/style/images/win8_symbol_140x140.png"/>
<title>为移动而生的Zoomla!逐浪CMS-专注研发|打造世界级网站内核管理系统与WEB软件服务体系</title>
{ZL:Boot()/}
<link href="{$CssDir/}2014.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" />
</head>
<body class="mb2015">
<div class="relative">
<div class="navbar navbar-default" role="navigation" id="home_scolls">
<div class="container mb2015_nav padding0">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">智能切换导航</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand " href="/"><img src="{$CssDir/}images/logo.svg" alt="逐浪CMS移动平台" /></a>
</div>
<div class="navbar-collapse collapse corop2015_top">
<ul class="nav navbar-nav">
<li><a href="/" target="_blank">主页</a></li>
<li class="active"><a href="#">面向移动开发</a></li>
<li><a href="/help/Mobile/3092.shtml">微信接入</a></li>
<li><a href="http://v.z01.com">Webapp</a></li>
<li><a href="http://v.z01.com/h5">HTML5</a></li>
<li><a href="/pub/">下载逐浪</a></li>
<li><a href="/case/">客户案例</a></li>
</ul>
<form role="search" method="get" action="/Search/SearchList" target="_blank" style="float:left;">
<input type="text" placeholder="全站检索" name="KeyWord">
<button type="submit"><i class="fa fa-search"></i></button>
</form>
<ul class="nav navbar-nav navbar-right">
<li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 官方导航 <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/" target="_blank">官网主页</a></li>
<li><a href="/User/Register.aspx" target="_blank">用户注册</a></li>
<li><a href="/blog/" target="_blank">团队博客</a></li>
<li><a href="/User/" target="_blank">会员登录</a></li>
<li><a href="/server" title="联系专业客服">客服中心</a></li>
<li><a href="/shop/" title="在线购买">商业订购</a></li>
<li><a href="http://edu.z01.com" taget="_blank" title="逐浪软件支持的建站技术平台">建站学院</a></li>
<li><a href="http://www.hx008.com/" target="_blank" title="推荐主机域名服务">主机域名</a></li>
<li><a href="/demo" target="_blank" title="逐浪家族软件在线演示">演示中心</a></li>
<li><a href="/help/" title="帮助中心">帮助中心</a></li>
<li><a href="http://ad.z01.com" title="广告代码大全" target="_blank">广告源码</a></li>
</ul>
</li>
<li>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Language<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li>{ZL:Big5()/}</li>
<li><a href="/about.shtml">English</a></li>
</ul>
</li>
<li><a href="/corp/about/83.shtml" title="联系我们">联系我们</a></li>
<li><a href="/demo/" target="_blank" title="CRM免费体验">CMS免费体验</a></li>
</ul>
</div>
</div>
</div>
</div>
<!-- 导航到此结束 -->
<div class="mb2015_bg1">
<div class="container">
<h1>MobileFirst</h1>
<p><a href="http://v.z01.com" target="_blank">移动优先-逐浪CMS目前已经全面支持APP生成或HTML5集成 ></a><br/>
<a href="http://v.z01.com" target="_blank" class="btn btn-warning">动力逐浪全新云端创作体验</a></p>
</div>
</div>
<div class="mobile_detial">
<h3><a href="javascript:;">+关于逐浪软件3M和移动化战略</a></h3>
<div class="container" style="display:none;">
<p>早在三年前，逐浪软件就确定了<br />
WebForm、WinForm、MobileForm的3F策略，<br />
这其中就有着坚强的移动互联网策略，<br />
以移动优先推动软件事业的研发,<br/>
即以动力逐浪为代表的拖拽式建站与公众号移动H5体验，<br/>
为移动互联网时代而生！</p>
</div>
</div>
<div class="mobile_bg2">
<div class="container">
<h3>企业级移动应用智能开发</h3>
<p>我们知道企业的终极需求，不仅仅是单纯的做网站，也不是为了移动而移动，<br />
实效才是硬道理，加上智慧的实惠、大数据云端的支持、强有力的护航保障，<br />
构建了完整的闭环应用体系，这是服务于中国本土的企业级移动平台>></p>
<a href="#mobile_app" class="btn btn-warning">查看详情>></a> 
<a href="/phoneGap/" >PhoneGap知识库</a>
</div>
</div>
<div class="mobile_bg3">
<div class="container">
<h3>智能生成APP</h3>
<p>网站还没有建好，APP已经在同步规划！<br />
只有APP？我们同时给你带来智能统一的门户矩阵！<br />
微信只是做文章转载？我们的微门户和智能应用更加方便。<br />
这就是PC、移动、微信三网一体的应用体系<br />
基于全新的Zoomla!逐浪CMS2 x3的产品技术<br />
而且这一切是免费开放的！</p>
<div class="mobile_bg3a">
<a href="/pub/">下载逐浪</a>
<a href="http://v.z01.com">生成APP</a>
</div>
<div class="mobile_bg3c"><img src="{$CssDir/}images/mobile_bg3.png" alt="" /></div>
</div>
</div>
<div class="mobile_bg4">
<div class="container">
<div class="pull-left">
<h3>统一数据</h3>
<p class="pull-left">未来已来，不仅仅是移动应用，还包括智能客户端、<br />
智能硬件以及与此一系列的应用数据。<br />
譬如我们的智能KINECT项目即已交付多个商业应用。
</p>
<a class="mobile_bg4a" href="{ZL:GetInfoUrl(2997)/}" target="_blank" title="浏览关于逐浪大数据演示视频"></a>
</div>
<div class="pull-right"><img src="{$CssDir/}images/mobile_bg6.png" alt="" /></div>
</div>
</div>
<div class="mobile_app" id="mobile_app">
<div class="container">
<ul class="list-unstyled">
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>智慧民生</h3><p>基于二维码的全物流跟踪系统,2014湖南科技创新项目</p></a></li>
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>智农网</h3><p>深耕中国农业平台运作，打通最后一公里电商之路</p></a></li>
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>邻里中国</h3><p>全新的移动商务推广平台，集电商应用为一体</p></a></li>
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>校园100</h3><p>地理位置LBS平台|电商|易物|商铺|联推全网更便捷</p></a></li>
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>掌上医</h3><p>三甲医院垂直门户，全国医疗推荐成果</p></a></li>
<li><a href="javascript:alert('请询售前顾问获取!');"><h3>Team360</h3><p>为大型国企和五百强设计的高端办公效率工具，门户移动一体</p></a></li>
</ul>
</div>
</div>

<!--中部主体结束 -->
{ZL.Label id="响应式网站底部"/}

<!--客服代码开始 -->
<div id=floatTools class=float0831>
    <div class=floatL>
        <a id=aFloatTools_Show class=btnOpen title=查看在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.z01.com'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');"
           href="javascript:void(0);">展开</a> <a style="DISPLAY: none" id=aFloatTools_Hide class=btnCtn title=关闭在线客服 onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.z01.com'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');"
                                                href="javascript:void(0);">收缩</a>
    </div>
    <div id=divFloatToolsView class=floatR style="display:none;">
        <div class=tp></div>
        <div class=cn>
            <ul>
                <li class=top>
                    <h3 class=titZx>QQ咨询</h3>
                </li>
                <!--<LI><SPAN class=icoZx>在线咨询</SPAN> </LI>-->
                <li><a class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=184886758&amp;site=qq&amp;menu=yes">京苏沪粤售前</a> </li>
                <li><a class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1799661890&amp;site=qq&amp;menu=yes">软件授权售前</a> </li>
                <li><a class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=228388629&amp;site=qq&amp;menu=yes">高端订制售前</a> </li>
                <li class=bot><a class=icoTc href="http://wpa.qq.com/msgrd?v=3&amp;uin=1579153275&amp;site=qq&amp;menu=yes">教育系统集成</a> </li>
            </ul>
            <ul class=webZx>
                <li class=webZx-in><a href="/corp/about/83.shtml" target="_blank" style="FLOAT: left" title="查看更多联系方式"><img src="/Template/office/style/images/right_float_web.png" alt="网页咨询"></a> </li>
            </ul>
            <ul>
                <li>
                    <h3 class=titDh>电话咨询</h3>
                </li>
                <li><span class=icoTl>13177777714</span> </li>
                <li class=bot>
                    <h3 class=titDc><a href="/pub/" target="_blank">免费下载逐浪CMS</a></h3>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="Micro">
   <div class="Micro_r"><img src="/Template/office/style/images/webchat_ico32.png" class="tigger" id="Micro1" alt="微信" onMouseMove="Micro()" /> </div>
    <div id="Micro_l" style="display:none;" onmousemove="Micro()" onmouseout="Micro_none()">
        <div class="Mic_l"> <img src="/Template/office/style/images/Big_Micro.jpg" /></div>
        <div class="Mic_r">
            <ul>
                <li>打开微信:</li>
                <li>1.或选择魔术棒,扫一扫</li>
                <li>2.或选择"朋友们",扫一扫</li>
                <li>3.或查找微信号:逐浪CMS</li>
            </ul>
        </div>
    </div>
</div>
<!--客服代码结束 -->
</body>
</html>
<script type="text/javascript" src="/Template/office/style/js/server.js"></SCRIPT>
<script type="text/javascript" src="/js/scrolltopcontrol.js"></script>
<script>
var IO = document.getElementById('home_scolls'), Y = IO, H = 0, IE6;
IE6 = window.ActiveXObject && !window.XMLHttpRequest;
while (Y) { H += Y.offsetTop; Y = Y.offsetParent };
if (IE6)
    IO.style.cssText = "position:absolute;top:expression(this.fix?(document" +
		".documentElement.scrollTop-(this.javascript||" + H + ")):0)";
window.onscroll = function () {
    var d = document, s = Math.max(d.documentElement.scrollTop, document.body.scrollTop);
    if (s > H && IO.fix || s <= H && !IO.fix) return;
    if (!IE6) IO.style.position = IO.fix ? "" : "fixed";
    IO.fix = !IO.fix;
};
try { document.execCommand("BackgroundImageCache", false, true) } catch (e) { };
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(
        document.createTextNode(
        "@-ms-viewport{width:auto!important}"
        )
    );
    document.getElementsByTagName("head")[0].
        appendChild(msViewportStyle);
}


$().ready(function (e) {
    $(".mobile_detial h3 a").click(function () {
        $(".mobile_detial .container").slideToggle();
    })
});

//搜索关键字
function setEmpty(obj) {
	if (obj.value == "全站检索") {
		obj.value = "";
	}
}
function settxt(obj) {
	if (obj.value == "") {
		obj.value = "全站检索";
	}
}

$(function () {
	$("#tabs1 a").mouseover(function (e) {
		$(this).tab('show');
	});
   
});
$ID = function(el){
	return document.getElementById(el);
};
function Show_Ser_Node(objStr,NowNum,MaxNum){
var obj;
	for(var i=0;i<=MaxNum;i++){
		obj = $ID(objStr + i);
		if(obj!=null){
			if($(obj).css("display")=='none' && NowNum==i){
				$(obj).slideDown("slow");
			}
			if($(obj).css("display")!='none' && NowNum!=i){
				$(obj).slideUp("slow");
			}
		}
	}
}
</script>
<script>
//左右滚动效果
var Speed = 3; //速度(毫秒)
var Space = 7; //每次移动(px)
var PageWidth = 400; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName)
{
if(document.getElementById)
return eval('document.getElementById("'+objName+'")')
else
return eval('document.all.'+objName)
}
function AutoPlay()
{//自动滚动
clearInterval(AutoPlayObj);
AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',3000); //间隔时间
}
function ISL_GoUp()
{ //上翻开始
if(MoveLock) return;
clearInterval(AutoPlayObj);
MoveLock = true;
MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp()
{ //上翻停止
clearInterval(MoveTimeObj);
if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0)
{
Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
CompScr();
}
else
MoveLock = false;
AutoPlay();
}
function ISL_ScrUp()
{ //上翻动作
if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
clearInterval(MoveTimeObj);
if(MoveLock) return;
clearInterval(AutoPlayObj);
MoveLock = true;
ISL_ScrDown();
MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
clearInterval(MoveTimeObj);
if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 )
{
Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
CompScr();
}
else{MoveLock = false;}
AutoPlay();
}
function ISL_ScrDown()
{ //下翻动作
if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr()
{
var num;
if(Comp == 0){MoveLock = false;return;}
if(Comp < 0)
{ //上翻
if(Comp < -Space)
{
Comp += Space;
num = Space;
}
else
{
num = -Comp;
Comp = 0;
}
GetObj('ISL_Cont').scrollLeft -= num;
setTimeout('CompScr()',Speed);
}
else
{ //下翻
if(Comp > Space)
{
Comp -= Space;
num = Space;
}
else
{
num = Comp;
Comp = 0;
}
GetObj('ISL_Cont').scrollLeft += num;
setTimeout('CompScr()',Speed);
}
}
</script>