{ZL.Source id="栏目信息数据源"/}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CMS选型与应用-专注研发|打造世界级网站内核管理系统与WEB软件服务体系</title>
<meta name="Keywords" content="{SField sid="栏目信息数据源" FD="Meta_Keywords" page="0"/}">
<meta name="Description" content="{SField sid="栏目信息数据源" FD="Meta_Description" page="0"/}">
<script>
function change(i,Str1,Str2,Str3,Str4,Str5,Str6,Str7,Str8,Str9,Str10,Str11,Str12,Str13,Str14,Str15,Str16)
{
  arrow.style.backgroundImage="url('/skin/2010/Images/product_pic"+i+".gif')";
}
</script>
<style type="text/css">
a{ text-decoration:none;}
.try_table{font-size:12px;}
.try_td{font-size:12px; height:125px; width:109px; background:url(/skin/2010/images/try_bg.gif) no-repeat;}
.try_td a{color:#666;}
.try_td a:hover{color:#A1CDD6;}
.green{color:#3C0;}
#words{line-height:18px; font-size:12px;}
#words li{list-style-type:none; height:18x; line-height:18px; text-align:left; width:98px;padding-left:0px; margin-left:0px;}
.try_table #titles{font-size:12px;}
.white{height:20px; line-height:20px; text-align:right;}
</style>
</head>
<body>
<table width="945" border="0" cellspacing="0" cellpadding="0" height="100%" class="try_table">
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top">
            <table width="95%" border="0" cellspacing="0" cellpadding="0" height="100%">
              
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="633">
                    <tr>
                      <td background="/skin/2010/images/product_pic3.gif" id="arrow">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td valign="bottom" height="200" width="240"> 
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="center" id="product" onMouseOver="javascript:change(1,'gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','submenu','submenu','submenu','gray','gray','gray')">
                                <tr> 
                                  <td> 
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray"  id="titles"><b>项目预算</b></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" id="words">
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="75" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td></td>
                                      </tr>
                                      <tr> 
                                        <td align="right"><a href="{ZL:GetNodeLinkUrl(75)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td width="110">
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="center" id="product" onMouseOver="javascript:change(2,'gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','submenu','gray','gray')">
                                <tr> 
                                  <td> 
                                    <table width="85%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray" id="titles"><b>使用习惯</b></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" id="words">
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="68" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td></td>
                                      </tr>
                                      <tr> 
                                        <td align="right"><a href="{ZL:GetNodeLinkUrl(68)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td valign="bottom" width="240"> 
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="center" id="product" onMouseOver="javascript:change(3,'gray','gray','gray','submenu','submenu','submenu','submenu','gray','gray','gray','gray','gray','gray','gray','gray','gray')">
                                <tr> 
                                  <td valign="top"> 
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="green"  id="titles"><b>功能需求</b></td>
                                      </tr>
                                      <tr> 
                                        <td class="gray" id="words" valign="top"> 
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="69" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td align="right" valign="top"><a href="{ZL:GetNodeLinkUrl(69)/}" class="submenu" target="_blank" id="more"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="200">
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="left" id="product" onMouseOver="javascript:change(4,'gray','gray','gray','gray','gray','gray','gray','gray','gray','submenu','gray','gray','gray','gray','gray','gray')">
                                <tr> 
                                  <td> 
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>

                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray"  id="titles"><b>技术平台</b></td>
                                      </tr>
                                      <tr> 
                                        <td valign="top" height="18" id="words">
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="74" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td></td>
                                      </tr>
                                      <tr> 
                                        <td align="right"><a href="{ZL:GetNodeLinkUrl(74)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                              <table border="0" cellspacing="0" cellpadding="0"  id="product" class="try_td" align="right" onMouseOver="javascript:change(5,'gray','gray','gray','gray','gray','gray','gray','submenu','gray','gray','gray','gray','gray','gray','gray','gray')">
                                <tr> 
                                  <td> 
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray"  id="titles"><b>售后服务</b></td>
                                      </tr>
                                      <tr> 
                                        <td valign="top" id="words">
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="70" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td align="right"><a href="{ZL:GetNodeLinkUrl(70)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" height="200"> 
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="center" id="product" onMouseOver="javascript:change(6,'gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','submenu','submenu')">
                                <tr> 
                                  <td> 
                                    <table width="88%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray" id="titles"><b>可扩展性</b></td>
                                      </tr>
                                      <tr> 
                                        <td id="words">
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="73" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td align="right" valign="top"><a href="{ZL:GetNodeLinkUrl(73)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" align="center" id="product" onMouseOver="javascript:change(7,'submenu','submenu','submenu','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray','gray')">
                                <tr> 
                                  <td> 
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray" id="titles"><b>易用性</b></td>
                                      </tr>
                                      <tr> 
                                        <td id="words" valign="top"> 
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="72" /}
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td align="right" valign="top"><a href="{ZL:GetNodeLinkUrl(72)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td valign="top">
                              <table border="0" cellspacing="0" cellpadding="0" class="try_td" id="product" onMouseOver="javascript:change(8,'gray','gray','gray','gray','gray','gray','gray','gray','submenu','gray','gray','gray','gray','gray','gray','gray')" align="center">
                                <tr> 
                                  <td> 
                                    <table width="83%" border="0" cellspacing="0" cellpadding="0" align="center" height="100%">
                                      <tr> 
                                        <td height="4"></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" class="gray"  id="titles"><b>性价比</b></td>
                                      </tr>
                                      <tr> 
                                        <td height="18" valign="top" id="words"> 
										 {ZL.Label id="查询指定节点ID下信息列表_不带时间顺序" ShowNum="4" TitleNum="16" NodeID="71" /}
                                          </td>
                                      </tr>
                                      <tr> 
                                        <td></td>
                                      </tr>
                                      <tr> 
                                        <td align="right"><a href="{ZL:GetNodeLinkUrl(71)/}" class="white" id="more" target="_blank"><b>more</b>&nbsp;&nbsp;</a></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td width="220" valign="top"> 
            
          </td>
        </tr>
      </table>
    </td>
  </tr>


    </td>
  </tr>
</table>

</body>
</html>